/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.blog-group {
  display: flex;
  background-color: white; }

.blog-group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.blog-decorator {
  background: var(--src) center center/contain no-repeat; }

.blog-decorator.layout {
  position: absolute;
  height: 809px;
  flex-grow: 1;
  margin: 250px 0px 2680px;
  inset: 0px 0px auto; }
  @media (max-width: 1919.98px) {
    .blog-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 125px 0px 1340px;
      inset: 0px 0px auto; } }
  @media (max-width: 1399.98px) {
    .blog-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 63px 0px 670px;
      inset: 0px 0px auto; } }
  @media (max-width: 1199.98px) {
    .blog-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 32px 0px 335px;
      inset: 0px 0px auto; } }
  @media (max-width: 991.98px) {
    .blog-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 25px 0px 168px;
      inset: 0px 0px auto; } }
  @media (max-width: 767.98px) {
    .blog-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 25px 0px 84px;
      inset: 0px 0px auto; } }
  @media (max-width: 575.98px) {
    .blog-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 25px 0px 42px;
      inset: 0px 0px auto; } }

.blog-group1 {
  display: flex; }

.blog-group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.blog-decorator.layout1 {
  position: absolute;
  height: 692.5px;
  flex-grow: 1;
  margin: 2621.18px 0px 425.32px;
  inset: 0px 236.4px auto 390.1px; }
  @media (max-width: 1919.98px) {
    .blog-decorator.layout1 {
      height: 692.5px;
      flex-grow: 1;
      margin: 1311px 0px 213px;
      inset: 0px 118px auto 195px; } }
  @media (max-width: 1399.98px) {
    .blog-decorator.layout1 {
      height: 692.5px;
      flex-grow: 1;
      margin: 656px 0px 107px;
      inset: 0px 59px auto 98px; } }
  @media (max-width: 1199.98px) {
    .blog-decorator.layout1 {
      height: 692.5px;
      flex-grow: 1;
      margin: 328px 0px 54px;
      inset: 0px 30px auto 49px; } }
  @media (max-width: 991.98px) {
    .blog-decorator.layout1 {
      height: 692.5px;
      flex-grow: 1;
      margin: 164px 0px 27px;
      inset: 0px 15px auto 25px; } }
  @media (max-width: 767.98px) {
    .blog-decorator.layout1 {
      height: 692.5px;
      flex-grow: 1;
      margin: 82px 0px 25px;
      inset: 0px 10px auto 13px; } }
  @media (max-width: 575.98px) {
    .blog-decorator.layout1 {
      height: 692.5px;
      flex-grow: 1;
      margin: 41px 0px 25px;
      inset: 0px 10px auto; } }

.blog-group2 {
  display: flex; }

.blog-group2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.blog-decorator.layout2 {
  position: absolute;
  height: 958px;
  flex-grow: 1;
  margin: 2546px 0px 235px;
  inset: 0px 0px auto; }
  @media (max-width: 1919.98px) {
    .blog-decorator.layout2 {
      height: 958px;
      flex-grow: 1;
      margin: 1273px 0px 118px;
      inset: 0px 0px auto; } }
  @media (max-width: 1399.98px) {
    .blog-decorator.layout2 {
      height: 958px;
      flex-grow: 1;
      margin: 637px 0px 59px;
      inset: 0px 0px auto; } }
  @media (max-width: 1199.98px) {
    .blog-decorator.layout2 {
      height: 958px;
      flex-grow: 1;
      margin: 319px 0px 30px;
      inset: 0px 0px auto; } }
  @media (max-width: 991.98px) {
    .blog-decorator.layout2 {
      height: 958px;
      flex-grow: 1;
      margin: 160px 0px 25px;
      inset: 0px 0px auto; } }
  @media (max-width: 767.98px) {
    .blog-decorator.layout2 {
      height: 958px;
      flex-grow: 1;
      margin: 80px 0px 25px;
      inset: 0px 0px auto; } }
  @media (max-width: 575.98px) {
    .blog-decorator.layout2 {
      height: 958px;
      flex-grow: 1;
      margin: 40px 0px 25px;
      inset: 0px 0px auto; } }

.blog-group3 {
  display: flex; }

.blog-group3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.blog-decorator.layout3 {
  position: absolute;
  height: 692.5px;
  flex-grow: 1;
  margin: 458.89px 0px 2587.61px;
  inset: 0px 189px auto 438px; }
  @media (max-width: 1919.98px) {
    .blog-decorator.layout3 {
      height: 692.5px;
      flex-grow: 1;
      margin: 229px 0px 1294px;
      inset: 0px 95px auto 219px; } }
  @media (max-width: 1399.98px) {
    .blog-decorator.layout3 {
      height: 692.5px;
      flex-grow: 1;
      margin: 115px 0px 647px;
      inset: 0px 48px auto 110px; } }
  @media (max-width: 1199.98px) {
    .blog-decorator.layout3 {
      height: 692.5px;
      flex-grow: 1;
      margin: 58px 0px 324px;
      inset: 0px 24px auto 55px; } }
  @media (max-width: 991.98px) {
    .blog-decorator.layout3 {
      height: 692.5px;
      flex-grow: 1;
      margin: 29px 0px 162px;
      inset: 0px 12px auto 28px; } }
  @media (max-width: 767.98px) {
    .blog-decorator.layout3 {
      height: 692.5px;
      flex-grow: 1;
      margin: 25px 0px 81px;
      inset: 0px 10px auto 14px; } }
  @media (max-width: 575.98px) {
    .blog-decorator.layout3 {
      height: 692.5px;
      flex-grow: 1;
      margin: 25px 0px 41px;
      inset: 0px 10px auto; } }

.blog-group4 {
  display: flex; }

.blog-group4.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.blog-decorator.layout4 {
  position: absolute;
  height: 692.5px;
  flex-grow: 1;
  margin: 1221.18px 0px 1825.32px;
  inset: 0px 348.4px auto 278.1px; }
  @media (max-width: 1919.98px) {
    .blog-decorator.layout4 {
      height: 692.5px;
      flex-grow: 1;
      margin: 611px 0px 913px;
      inset: 0px 174px auto 139px; } }
  @media (max-width: 1399.98px) {
    .blog-decorator.layout4 {
      height: 692.5px;
      flex-grow: 1;
      margin: 306px 0px 457px;
      inset: 0px 87px auto 70px; } }
  @media (max-width: 1199.98px) {
    .blog-decorator.layout4 {
      height: 692.5px;
      flex-grow: 1;
      margin: 153px 0px 229px;
      inset: 0px 44px auto 35px; } }
  @media (max-width: 991.98px) {
    .blog-decorator.layout4 {
      height: 692.5px;
      flex-grow: 1;
      margin: 77px 0px 115px;
      inset: 0px 22px auto 18px; } }
  @media (max-width: 767.98px) {
    .blog-decorator.layout4 {
      height: 692.5px;
      flex-grow: 1;
      margin: 39px 0px 58px;
      inset: 0px 11px auto 10px; } }
  @media (max-width: 575.98px) {
    .blog-decorator.layout4 {
      height: 692.5px;
      flex-grow: 1;
      margin: 25px 0px 29px;
      inset: 0px 10px auto; } }

.blog-group5 {
  display: flex; }

.blog-group5.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.blog-decorator.layout5 {
  position: absolute;
  height: 692.5px;
  flex-grow: 1;
  margin: 1929.18px 0px 1117.32px;
  inset: 0px 329.4px auto 297.1px; }
  @media (max-width: 1919.98px) {
    .blog-decorator.layout5 {
      height: 692.5px;
      flex-grow: 1;
      margin: 965px 0px 559px;
      inset: 0px 165px auto 149px; } }
  @media (max-width: 1399.98px) {
    .blog-decorator.layout5 {
      height: 692.5px;
      flex-grow: 1;
      margin: 483px 0px 280px;
      inset: 0px 83px auto 75px; } }
  @media (max-width: 1199.98px) {
    .blog-decorator.layout5 {
      height: 692.5px;
      flex-grow: 1;
      margin: 242px 0px 140px;
      inset: 0px 42px auto 38px; } }
  @media (max-width: 991.98px) {
    .blog-decorator.layout5 {
      height: 692.5px;
      flex-grow: 1;
      margin: 121px 0px 70px;
      inset: 0px 21px auto 19px; } }
  @media (max-width: 767.98px) {
    .blog-decorator.layout5 {
      height: 692.5px;
      flex-grow: 1;
      margin: 61px 0px 35px;
      inset: 0px 11px auto 10px; } }
  @media (max-width: 575.98px) {
    .blog-decorator.layout5 {
      height: 692.5px;
      flex-grow: 1;
      margin: 31px 0px 25px;
      inset: 0px 10px auto; } }

.blog-site {
  display: flex;
  flex-direction: column; }

.blog-site.layout {
  position: relative;
  overflow: hidden;
  flex-grow: 1; }

.blog-section1__container {
  display: flex; }

.blog-section1__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.blog-section1__cover-group {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.blog-section1__cover-group.layout {
  position: absolute;
  overflow: visible;
  flex-grow: 1;
  inset: 0px 0px 92.76px; }
  @media (max-width: 1919.98px) {
    .blog-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 46px; } }
  @media (max-width: 1399.98px) {
    .blog-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 23px; } }
  @media (max-width: 1199.98px) {
    .blog-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 12px; } }
  @media (max-width: 991.98px) {
    .blog-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 6px; } }
  @media (max-width: 767.98px) {
    .blog-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 3px; } }
  @media (max-width: 575.98px) {
    .blog-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 2px; } }

.blog-section1__flex {
  display: flex; }

.blog-section1__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 31.1px 255px; }
  @media (max-width: 1919.98px) {
    .blog-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 128px; } }
  @media (max-width: 1399.98px) {
    .blog-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 64px; } }
  @media (max-width: 1199.98px) {
    .blog-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 32px; } }
  @media (max-width: 991.98px) {
    .blog-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 16px; } }
  @media (max-width: 767.98px) {
    .blog-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 10px; } }

.blog-section1__image {
  background: var(--src) center center/contain no-repeat; }

.blog-section1__image.layout {
  position: relative;
  flex: 0 1 60px;
  height: 72.13px;
  width: 60px;
  min-width: 60px;
  margin: 23.46px 0px 24.44px; }

.blog-section1__flex-spacer {
  flex: 0 1 405px; }

.blog-section1__flex-col {
  display: flex;
  flex: 0 1 479px; }

.blog-section1__flex1 {
  display: flex;
  flex-direction: column; }

.blog-section1__flex1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 13.64px 0px 0px; }
  @media (max-width: 575.98px) {
    .blog-section1__flex1.layout {
      flex-grow: 1;
      margin: 7px 0px 0px; } }

.blog-section1__hero-title {
  font: 700 54px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.35px; }
  @media (max-width: 1199.98px) {
    .blog-section1__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 49px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .blog-section1__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 46px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section1__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 42px;
      text-align: left; } }

.blog-section1__hero-title.layout {
  position: relative;
  display: block;
  width: 480px;
  min-width: 480px;
  margin: 0px auto; }

.blog-section1__subtitle {
  font: 700 21px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.53px; }

.blog-section1__subtitle.layout {
  position: relative;
  margin: 12.36px 19.02px 0px; }
  @media (max-width: 575.98px) {
    .blog-section1__subtitle.layout {
      margin: 6px 10px 0px; } }

.blog-section1__flex-spacer1 {
  flex: 0 1 404px; }

.blog-section1__image.layout1 {
  position: relative;
  flex: 0 1 62px;
  height: 65.41px;
  width: 60px;
  min-width: 60px;
  margin: 26.73px 2px 27.89px 0px; }

.blog-section1__group {
  display: flex; }

.blog-section1__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.blog-section1__cover-group1 {
  display: flex;
  background-color: black; }

.blog-section1__cover-group1.layout {
  position: absolute;
  overflow: visible;
  flex-grow: 1;
  inset: 170.24px 0px 0px; }
  @media (max-width: 1919.98px) {
    .blog-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 85px 0px 0px; } }
  @media (max-width: 1399.98px) {
    .blog-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 43px 0px 0px; } }
  @media (max-width: 1199.98px) {
    .blog-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 22px 0px 0px; } }
  @media (max-width: 991.98px) {
    .blog-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 11px 0px 0px; } }
  @media (max-width: 767.98px) {
    .blog-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 6px 0px 0px; } }
  @media (max-width: 575.98px) {
    .blog-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 3px 0px 0px; } }

.blog-section1__flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 25.11px 193.79px; }
  @media (max-width: 1919.98px) {
    .blog-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 97px; } }
  @media (max-width: 1399.98px) {
    .blog-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 49px; } }
  @media (max-width: 1199.98px) {
    .blog-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px; } }
  @media (max-width: 991.98px) {
    .blog-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 13px; } }
  @media (max-width: 767.98px) {
    .blog-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 10px; } }

.blog-section1__flex2-spacer {
  flex: 0 1 0.21px; }

.blog-section1__flex2-col {
  display: flex;
  flex: 0 1 180.37px; }

.blog-section1__group1 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.blog-section1__group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.blog-section1__image2 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section1__image2.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.blog-section1__big-title {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section1__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section1__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.blog-section1__big-title.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.99px 23.96px 5.96px; }

.blog-section1__flex2-spacer1 {
  flex: 0 1 90px; }

.blog-section1__group2 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.blog-section1__group2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.blog-section1__group3 {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section1__group3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.blog-section1__decorator {
  background: var(--src) center center/contain no-repeat; }

.blog-section1__decorator.layout {
  position: relative;
  height: 20px;
  width: 22px;
  min-width: 22px;
  margin: 12.19px 13.74px 12.68px auto; }

.blog-section1__big-title1 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section1__big-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section1__big-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.blog-section1__big-title1.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.89px 14.63px 3.98px; }

.blog-section1__flex2-spacer2 {
  flex: 0 1 90px; }

.blog-section1__group4 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.blog-section1__group4.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.blog-section1__image3 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section1__image3.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.blog-section1__big-title2 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section1__big-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section1__big-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.blog-section1__big-title2.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.87px 25.07px 11.06px; }

.blog-section1__flex2-spacer3 {
  flex: 0 1 90px; }

.blog-section1__group5 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.blog-section1__group5.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.blog-section1__group6 {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section1__group6.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.blog-section1__decorator.layout1 {
  position: relative;
  height: 20px;
  width: 22px;
  min-width: 22px;
  margin: 12.19px 13.47px 12.68px auto; }

.blog-section1__big-title3 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section1__big-title3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section1__big-title3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.blog-section1__big-title3.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.44px 13.9px 4.43px; }

.blog-section1__flex2-spacer4 {
  flex: 0 1 90px; }

.blog-section1__group7 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.blog-section1__group7.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.blog-section1__image4 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section1__image4.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.blog-section1__big-title.layout1 {
  position: absolute;
  flex-grow: 1;
  inset: 6px 17.53px 5.95px; }

.blog-section1__flex2-spacer5 {
  flex: 0 1 90px; }

.blog-section1__group8 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.blog-section1__group8.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.blog-section1__image5 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section1__image5.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.blog-section1__big-title5 {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section1__big-title5 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section1__big-title5 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.blog-section1__big-title5.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.93px 40.8px 6.02px; }

.blog-section1__img {
  background: var(--src) center center/contain no-repeat; }

.blog-section1__img.layout {
  position: relative;
  height: 275px;
  width: 1920px;
  min-width: 1920px; }

.blog-section2__container {
  display: flex; }

.blog-section2__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.blog-section2__flex {
  display: flex;
  flex-direction: column; }

.blog-section2__flex.layout2 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 38.39px 165px; }
  @media (max-width: 1919.98px) {
    .blog-section2__flex.layout2 {
      flex-grow: 1;
      margin: 25px 83px; } }
  @media (max-width: 1399.98px) {
    .blog-section2__flex.layout2 {
      flex-grow: 1;
      margin: 25px 42px; } }
  @media (max-width: 1199.98px) {
    .blog-section2__flex.layout2 {
      flex-grow: 1;
      margin: 25px 21px; } }
  @media (max-width: 991.98px) {
    .blog-section2__flex.layout2 {
      flex-grow: 1;
      margin: 25px 11px; } }
  @media (max-width: 767.98px) {
    .blog-section2__flex.layout2 {
      flex-grow: 1;
      margin: 25px 10px; } }

.blog-section2__flex1 {
  display: flex; }

.blog-section2__flex1.layout {
  position: relative;
  overflow: visible;
  width: 586px;
  min-width: 586px;
  margin: 196.61px auto 0px; }
  @media (max-width: 1399.98px) {
    .blog-section2__flex1.layout {
      width: 586px;
      min-width: 586px;
      margin: 98px auto 0px; } }
  @media (max-width: 1199.98px) {
    .blog-section2__flex1.layout {
      width: 586px;
      min-width: 586px;
      margin: 49px auto 0px; } }
  @media (max-width: 991.98px) {
    .blog-section2__flex1.layout {
      width: 586px;
      min-width: 586px;
      margin: 25px auto 0px; } }
  @media (max-width: 767.98px) {
    .blog-section2__flex1.layout {
      width: 440px;
      min-width: 440px;
      margin: 13px auto 0px; } }
  @media (max-width: 575.98px) {
    .blog-section2__flex1.layout {
      width: 320px;
      min-width: 320px;
      margin: 7px auto 0px; } }

.blog-section2__flex1-col {
  display: flex; }

.blog-section2__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }
  @media (max-width: 1199.98px) {
    .blog-section2__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 78px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .blog-section2__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 75px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section2__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 71px;
      text-align: left; } }

.blog-section2__hero-title.layout {
  position: relative;
  display: block;
  width: 300px;
  min-width: 300px;
  margin: 23px auto 0px; }

.blog-section2__flex1-spacer {
  flex: 0 1 35px; }

.blog-section2__flex1-col1 {
  display: flex;
  flex: 0 1 257px; }

.blog-section2__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 24px; }

.blog-section2__big-title {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section2__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section2__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.blog-section2__big-title.layout {
  position: relative; }

.blog-section2__group {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section2__group.layout {
  position: relative;
  overflow: visible;
  margin: 18px 1.86px 0px 0px; }

.blog-section2__group1 {
  display: flex; }

.blog-section2__group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 19px 26px 7px; }

.blog-section2__hero-title1 {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .blog-section2__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section2__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .blog-section2__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.blog-section2__hero-title1.layout {
  position: absolute;
  height: 42px;
  inset: -11px 7.14px auto; }

.blog-section2__author {
  font: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.6px; }

.blog-section2__author.layout {
  position: relative;
  flex-grow: 1; }

.blog-section2__flex3 {
  display: flex; }

.blog-section2__flex3.layout {
  position: relative;
  overflow: visible;
  margin: 24px 0px 0px 178px; }
  @media (max-width: 1399.98px) {
    .blog-section2__flex3.layout {
      margin: 12px 0px 0px 89px; } }
  @media (max-width: 1199.98px) {
    .blog-section2__flex3.layout {
      margin: 6px 0px 0px 45px; } }
  @media (max-width: 991.98px) {
    .blog-section2__flex3.layout {
      margin: 3px 0px 0px 23px; } }
  @media (max-width: 767.98px) {
    .blog-section2__flex3.layout {
      margin: 2px 0px 0px 12px; } }
  @media (max-width: 575.98px) {
    .blog-section2__flex3.layout {
      margin: 1px 0px 0px 6px; } }

.blog-section2__flex3-col {
  display: flex;
  flex: 0 1 443px; }

.blog-section2__image {
  background: var(--src) center center/contain no-repeat; }

.blog-section2__image.layout {
  position: relative;
  height: 443px;
  flex-grow: 1; }

.blog-section2__flex3-spacer {
  flex: 0 1 78px; }

.blog-section2__flex3-col1 {
  display: flex;
  flex: 1 1 891px; }

.blog-section2__flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 13px 0px 42px; }
  @media (max-width: 767.98px) {
    .blog-section2__flex.layout1 {
      flex-grow: 1;
      margin: 13px 0px 21px; } }
  @media (max-width: 575.98px) {
    .blog-section2__flex.layout1 {
      flex-grow: 1;
      margin: 13px 0px; } }

.blog-section2__big-title1 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section2__big-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section2__big-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.blog-section2__big-title1.layout {
  position: relative; }

.blog-section2__read-more {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: #838383;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section2__read-more {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section2__read-more {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.blog-section2__read-more.layout {
  position: relative;
  margin: 20px 0px 0px; }
  @media (max-width: 767.98px) {
    .blog-section2__read-more.layout {
      margin: 10px 0px 0px; } }
  @media (max-width: 575.98px) {
    .blog-section2__read-more.layout {
      margin: 5px 0px 0px; } }

.blog-section3__container {
  display: flex; }

.blog-section3__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.blog-section3__flex {
  display: flex;
  flex-direction: column; }

.blog-section3__flex.layout2 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 48.68px 283px; }
  @media (max-width: 1919.98px) {
    .blog-section3__flex.layout2 {
      flex-grow: 1;
      margin: 25px 142px; } }
  @media (max-width: 1399.98px) {
    .blog-section3__flex.layout2 {
      flex-grow: 1;
      margin: 25px 71px; } }
  @media (max-width: 1199.98px) {
    .blog-section3__flex.layout2 {
      flex-grow: 1;
      margin: 25px 36px; } }
  @media (max-width: 991.98px) {
    .blog-section3__flex.layout2 {
      flex-grow: 1;
      margin: 25px 18px; } }
  @media (max-width: 767.98px) {
    .blog-section3__flex.layout2 {
      flex-grow: 1;
      margin: 25px 10px; } }

.blog-section3__flex1 {
  display: flex; }

.blog-section3__flex1.layout {
  position: relative;
  overflow: visible;
  margin: 69.93px 50px 0px; }
  @media (max-width: 1199.98px) {
    .blog-section3__flex1.layout {
      margin: 35px 25px 0px; } }
  @media (max-width: 991.98px) {
    .blog-section3__flex1.layout {
      margin: 18px 13px 0px; } }
  @media (max-width: 767.98px) {
    .blog-section3__flex1.layout {
      margin: 9px 10px 0px; } }
  @media (max-width: 575.98px) {
    .blog-section3__flex1.layout {
      margin: 5px 10px 0px; } }

.blog-section3__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }
  @media (max-width: 1199.98px) {
    .blog-section3__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 78px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .blog-section3__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 75px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section3__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 71px;
      text-align: left; } }

.blog-section3__hero-title.layout {
  position: relative;
  margin: 21px 0px 0px; }
  @media (max-width: 767.98px) {
    .blog-section3__hero-title.layout {
      margin: 11px 0px 0px; } }
  @media (max-width: 575.98px) {
    .blog-section3__hero-title.layout {
      margin: 6px 0px 0px; } }

.blog-section3__flex1-spacer {
  flex: 0 1 17px; }

.blog-section3__flex1-col {
  display: flex;
  flex: 0 1 313px; }

.blog-section3__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 24px; }

.blog-section3__big-title {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section3__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section3__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.blog-section3__big-title.layout {
  position: relative; }

.blog-section3__group {
  display: flex; }

.blog-section3__group.layout {
  position: relative;
  overflow: visible;
  margin: 16px 1px 0px 0px; }

.blog-section3__image {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section3__image.layout {
  position: relative;
  height: 59px;
  flex-grow: 1; }

.blog-section3__hero-title1 {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .blog-section3__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section3__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .blog-section3__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.blog-section3__hero-title1.layout {
  position: absolute;
  flex-grow: 1;
  inset: 10px 21px 7px; }

.blog-section3__author {
  font: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.6px; }

.blog-section3__author.layout {
  position: absolute;
  flex-grow: 1;
  inset: 21px 26px 5px; }

.blog-section3__flex3 {
  display: flex; }

.blog-section3__flex3.layout {
  position: relative;
  overflow: visible;
  margin: 18px 0px 0px; }
  @media (max-width: 1199.98px) {
    .blog-section3__flex3.layout {
      margin: 9px 0px 0px; } }
  @media (max-width: 991.98px) {
    .blog-section3__flex3.layout {
      margin: 5px 0px 0px; } }
  @media (max-width: 767.98px) {
    .blog-section3__flex3.layout {
      margin: 3px 0px 0px; } }
  @media (max-width: 575.98px) {
    .blog-section3__flex3.layout {
      margin: 2px 0px 0px; } }

.blog-section3__flex3-col {
  display: flex;
  flex: 1 1 651px; }

.blog-section3__flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 29px 0px 32px; }
  @media (max-width: 575.98px) {
    .blog-section3__flex.layout1 {
      flex-grow: 1;
      margin: 25px 0px; } }

@media (max-width: 991.98px) {
  .blog-section3__big-title1-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 767.98px) {
  .blog-section3__big-title1-box {
    align-items: flex-start;
    justify-content: flex-start; } }

.blog-section3__big-title1-box.layout {
  position: relative; }

.blog-section3__big-title1 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px;
  white-space: pre-wrap; }
  @media (max-width: 991.98px) {
    .blog-section3__big-title1 {
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section3__big-title1 {
      font-size: 25px;
      text-align: left; } }

.blog-section3__read-more {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: #838383;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section3__read-more {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section3__read-more {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.blog-section3__read-more.layout {
  position: relative;
  margin: 32px 0px 0px; }
  @media (max-width: 575.98px) {
    .blog-section3__read-more.layout {
      margin: 16px 0px 0px; } }

.blog-section3__flex3-spacer {
  flex: 0 1 63px; }

.blog-section3__flex3-col1 {
  display: flex;
  flex: 0 1 443px; }

.blog-section3__image1 {
  background: var(--src) center center/contain no-repeat; }

.blog-section3__image1.layout {
  position: relative;
  height: 443px;
  flex-grow: 1; }

.blog-section4__container {
  display: flex; }

.blog-section4__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.blog-section4__flex {
  display: flex;
  flex-direction: column; }

.blog-section4__flex.layout2 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 32.32px 192px; }
  @media (max-width: 1919.98px) {
    .blog-section4__flex.layout2 {
      flex-grow: 1;
      margin: 25px 96px; } }
  @media (max-width: 1399.98px) {
    .blog-section4__flex.layout2 {
      flex-grow: 1;
      margin: 25px 48px; } }
  @media (max-width: 1199.98px) {
    .blog-section4__flex.layout2 {
      flex-grow: 1;
      margin: 25px 24px; } }
  @media (max-width: 991.98px) {
    .blog-section4__flex.layout2 {
      flex-grow: 1;
      margin: 25px 12px; } }
  @media (max-width: 767.98px) {
    .blog-section4__flex.layout2 {
      flex-grow: 1;
      margin: 25px 10px; } }

.blog-section4__flex1 {
  display: flex; }

.blog-section4__flex1.layout {
  position: relative;
  overflow: visible; }

.blog-section4__flex1-col {
  display: flex;
  flex: 0 1 443px; }

.blog-section4__image {
  background: var(--src) center center/contain no-repeat; }

.blog-section4__image.layout {
  position: relative;
  height: 443px;
  flex-grow: 1;
  margin: 75px 0px 38px; }
  @media (max-width: 575.98px) {
    .blog-section4__image.layout {
      height: 443px;
      flex-grow: 1;
      margin: 38px 0px 25px; } }

.blog-section4__flex1-spacer {
  flex: 0 1 28px; }

.blog-section4__flex1-col1 {
  display: flex;
  flex: 1 1 906px; }

.blog-section4__flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.blog-section4__flex3 {
  display: flex; }

.blog-section4__flex3.layout {
  position: relative;
  overflow: visible; }

.blog-section4__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }
  @media (max-width: 1199.98px) {
    .blog-section4__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 78px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .blog-section4__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 75px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section4__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 71px;
      text-align: left; } }

.blog-section4__hero-title.layout {
  position: relative;
  margin: 18px 0px 0px; }
  @media (max-width: 575.98px) {
    .blog-section4__hero-title.layout {
      margin: 9px 0px 0px; } }

.blog-section4__flex3-spacer {
  flex: 0 1 27px; }

.blog-section4__flex3-col {
  display: flex;
  flex: 0 1 291px; }

.blog-section4__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 24px; }

.blog-section4__big-title {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section4__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section4__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.blog-section4__big-title.layout {
  position: relative;
  margin: 0px 9px; }

.blog-section4__group {
  display: flex; }

.blog-section4__group.layout {
  position: relative;
  overflow: visible;
  margin: 13px 0px 0px; }

.blog-section4__image1 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section4__image1.layout {
  position: relative;
  height: 59px;
  flex-grow: 1; }

.blog-section4__author {
  font: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.6px; }

.blog-section4__author.layout {
  position: absolute;
  flex-grow: 1;
  inset: 19px 26px 7px; }

.blog-section4__hero-title1 {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .blog-section4__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section4__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .blog-section4__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.blog-section4__hero-title1.layout {
  position: absolute;
  flex-grow: 1;
  inset: 9px 32px 8px; }

@media (max-width: 991.98px) {
  .blog-section4__big-title1-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 767.98px) {
  .blog-section4__big-title1-box {
    align-items: flex-start;
    justify-content: flex-start; } }

.blog-section4__big-title1-box.layout {
  position: relative;
  margin: 5px 9px 0px 6px; }
  @media (max-width: 767.98px) {
    .blog-section4__big-title1-box.layout {
      margin: 3px 6px 0px; } }
  @media (max-width: 575.98px) {
    .blog-section4__big-title1-box.layout {
      margin: 2px 6px 0px; } }

.blog-section4__big-title1 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px;
  white-space: pre-wrap; }
  @media (max-width: 991.98px) {
    .blog-section4__big-title1 {
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section4__big-title1 {
      font-size: 25px;
      text-align: left; } }

.blog-section4__read-more {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: #838383;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section4__read-more {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section4__read-more {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.blog-section4__read-more.layout {
  position: relative;
  display: block;
  width: 582px;
  min-width: 582px;
  margin: 26px auto 26.36px; }
  @media (max-width: 1399.98px) {
    .blog-section4__read-more.layout {
      width: 582px;
      min-width: 582px;
      margin: 25px auto; } }
  @media (max-width: 767.98px) {
    .blog-section4__read-more.layout {
      width: 437px;
      min-width: 437px;
      margin: 25px auto; } }
  @media (max-width: 575.98px) {
    .blog-section4__read-more.layout {
      width: 320px;
      min-width: 320px;
      margin: 25px auto; } }

.blog-section5__container {
  display: flex; }

.blog-section5__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.blog-section5__flex {
  display: flex; }

.blog-section5__flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 68.32px 261px; }
  @media (max-width: 1919.98px) {
    .blog-section5__flex.layout1 {
      flex-grow: 1;
      margin: 34px 131px; } }
  @media (max-width: 1399.98px) {
    .blog-section5__flex.layout1 {
      flex-grow: 1;
      margin: 25px 66px; } }
  @media (max-width: 1199.98px) {
    .blog-section5__flex.layout1 {
      flex-grow: 1;
      margin: 25px 33px; } }
  @media (max-width: 991.98px) {
    .blog-section5__flex.layout1 {
      flex-grow: 1;
      margin: 25px 17px; } }
  @media (max-width: 767.98px) {
    .blog-section5__flex.layout1 {
      flex-grow: 1;
      margin: 25px 10px; } }

.blog-section5__flex-col {
  display: flex;
  flex: 1 1 900px; }

.blog-section5__flex1 {
  display: flex;
  flex-direction: column; }

.blog-section5__flex1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 22px 0px 210.68px; }
  @media (max-width: 767.98px) {
    .blog-section5__flex1.layout {
      flex-grow: 1;
      margin: 22px 0px 105px; } }
  @media (max-width: 575.98px) {
    .blog-section5__flex1.layout {
      flex-grow: 1;
      margin: 22px 0px 53px; } }

.blog-section5__flex.layout {
  position: relative;
  overflow: visible;
  margin: 0px 0px 0px 62px; }
  @media (max-width: 767.98px) {
    .blog-section5__flex.layout {
      margin: 0px 0px 0px 31px; } }
  @media (max-width: 575.98px) {
    .blog-section5__flex.layout {
      margin: 0px 0px 0px 16px; } }

.blog-section5__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }
  @media (max-width: 1199.98px) {
    .blog-section5__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 78px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .blog-section5__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 75px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section5__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 71px;
      text-align: left; } }

.blog-section5__hero-title.layout {
  position: relative;
  margin: 18px 0px 0px; }
  @media (max-width: 575.98px) {
    .blog-section5__hero-title.layout {
      margin: 9px 0px 0px; } }

.blog-section5__flex2-spacer {
  flex: 0 1 57px; }

.blog-section5__flex2-col {
  display: flex;
  flex: 0 1 291px; }

.blog-section5__flex3 {
  display: flex;
  flex-direction: column; }

.blog-section5__flex3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 24px; }

.blog-section5__big-title {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section5__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section5__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.blog-section5__big-title.layout {
  position: relative;
  margin: 0px 9px; }

.blog-section5__group {
  display: flex; }

.blog-section5__group.layout {
  position: relative;
  overflow: visible;
  margin: 13px 0px 0px; }

.blog-section5__image {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section5__image.layout {
  position: relative;
  height: 59px;
  flex-grow: 1; }

.blog-section5__author {
  font: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.6px; }

.blog-section5__author.layout {
  position: absolute;
  flex-grow: 1;
  inset: 19px 26px 7px; }

.blog-section5__hero-title1 {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .blog-section5__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section5__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .blog-section5__hero-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.blog-section5__hero-title1.layout {
  position: absolute;
  flex-grow: 1;
  inset: 9px 32px 8px; }

@media (max-width: 991.98px) {
  .blog-section5__big-title1-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 767.98px) {
  .blog-section5__big-title1-box {
    align-items: flex-start;
    justify-content: flex-start; } }

.blog-section5__big-title1-box.layout {
  position: relative;
  margin: 5px 9px 0px 0px; }
  @media (max-width: 767.98px) {
    .blog-section5__big-title1-box.layout {
      margin: 3px 5px 0px 0px; } }
  @media (max-width: 575.98px) {
    .blog-section5__big-title1-box.layout {
      margin: 2px 3px 0px 0px; } }

.blog-section5__big-title1 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px;
  white-space: pre-wrap; }
  @media (max-width: 991.98px) {
    .blog-section5__big-title1 {
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section5__big-title1 {
      font-size: 25px;
      text-align: left; } }

.blog-section5__read-more {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: #838383;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .blog-section5__read-more {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .blog-section5__read-more {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.blog-section5__read-more.layout {
  position: relative;
  margin: 20px 59px 0px; }
  @media (max-width: 767.98px) {
    .blog-section5__read-more.layout {
      margin: 10px 30px 0px; } }
  @media (max-width: 575.98px) {
    .blog-section5__read-more.layout {
      margin: 5px 15px 0px; } }

.blog-section5__flex-spacer {
  flex: 0 1 41px; }

.blog-section5__flex-col1 {
  display: flex;
  flex: 0 1 457px; }

.blog-section5__image1 {
  background: var(--src) center center/contain no-repeat; }

.blog-section5__image1.layout {
  position: relative;
  height: 443px;
  flex-grow: 1;
  margin: 0px 14px 295.68px 0px; }
  @media (max-width: 575.98px) {
    .blog-section5__image1.layout {
      height: 443px;
      flex-grow: 1;
      margin: 0px 7px 148px 0px; } }

.blog-section6__container {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25098);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.blog-section6__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.blog-section6__flex {
  display: flex; }
  @media (max-width: 1199.98px) {
    .blog-section6__flex {
      flex-wrap: wrap; } }

.blog-section6__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 39.77px 181.91px; }
  @media (max-width: 1919.98px) {
    .blog-section6__flex.layout {
      flex-grow: 1;
      margin: 25px 91px; } }
  @media (max-width: 1399.98px) {
    .blog-section6__flex.layout {
      flex-grow: 1;
      margin: 25px 46px; } }
  @media (max-width: 1199.98px) {
    .blog-section6__flex.layout {
      flex-grow: 1;
      margin: 25px 23px; } }
  @media (max-width: 991.98px) {
    .blog-section6__flex.layout {
      flex-grow: 1;
      margin: 25px 12px; } }
  @media (max-width: 767.98px) {
    .blog-section6__flex.layout {
      flex-grow: 1;
      margin: 25px 10px; } }

.blog-section6__flex-col {
  display: flex;
  flex: 1 1 471.75px; }
  @media (max-width: 1199.98px) {
    .blog-section6__flex-col {
      flex: 0 0 100%; } }

.blog-section6__medium-title-box.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 21.51px; }
  @media (max-width: 575.98px) {
    .blog-section6__medium-title-box.layout {
      flex-grow: 1;
      margin: 0px 0px 11px; } }

.blog-section6__medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.6px;
  white-space: pre-wrap; }

.blog-section6__flex-spacer {
  flex: 0 1 579.7px; }
  @media (max-width: 1199.98px) {
    .blog-section6__flex-spacer {
      flex: 0 0 100%;
      min-height: 20px; } }

.blog-section6__flex-col1 {
  display: flex;
  flex: 1 1 504.74px; }
  @media (max-width: 1199.98px) {
    .blog-section6__flex-col1 {
      flex: 0 0 100%; } }

.blog-section6__group {
  display: flex; }

.blog-section6__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 28.6px 1px 69.51px 0px; }
  @media (max-width: 575.98px) {
    .blog-section6__group.layout {
      flex-grow: 1;
      margin: 25px 0px 35px; } }

.blog-section6__subtitle {
  font: 700 21px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.53px; }

.blog-section6__subtitle.layout {
  position: absolute;
  height: 21.98px;
  inset: auto 43.41px -21.93px 25.78px; }

.blog-section6__hero-title {
  font: 700 54px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.35px; }
  @media (max-width: 1199.98px) {
    .blog-section6__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 49px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .blog-section6__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 46px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .blog-section6__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 42px;
      text-align: left; } }

.blog-section6__hero-title.layout {
  position: relative;
  flex-grow: 1; }
