/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.company-group {
  display: flex;
  background-color: white; }

.company-group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-decorator {
  background: var(--src) center center/contain no-repeat; }

.company-decorator.layout {
  position: absolute;
  height: 809px;
  flex-grow: 1;
  margin: 250px 0px 2680px;
  inset: 0px 0px auto; }
  @media (max-width: 1919.98px) {
    .company-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 125px 0px 1340px;
      inset: 0px 0px auto; } }
  @media (max-width: 1399.98px) {
    .company-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 63px 0px 670px;
      inset: 0px 0px auto; } }
  @media (max-width: 1199.98px) {
    .company-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 32px 0px 335px;
      inset: 0px 0px auto; } }
  @media (max-width: 991.98px) {
    .company-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 25px 0px 168px;
      inset: 0px 0px auto; } }
  @media (max-width: 767.98px) {
    .company-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 25px 0px 84px;
      inset: 0px 0px auto; } }
  @media (max-width: 575.98px) {
    .company-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 25px 0px 42px;
      inset: 0px 0px auto; } }

.company-group1 {
  display: flex; }

.company-group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-decorator.layout1 {
  position: absolute;
  height: 958px;
  flex-grow: 1;
  margin: 2546px 0px 235px;
  inset: 0px 0px auto; }
  @media (max-width: 1919.98px) {
    .company-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 1273px 0px 118px;
      inset: 0px 0px auto; } }
  @media (max-width: 1399.98px) {
    .company-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 637px 0px 59px;
      inset: 0px 0px auto; } }
  @media (max-width: 1199.98px) {
    .company-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 319px 0px 30px;
      inset: 0px 0px auto; } }
  @media (max-width: 991.98px) {
    .company-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 160px 0px 25px;
      inset: 0px 0px auto; } }
  @media (max-width: 767.98px) {
    .company-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 80px 0px 25px;
      inset: 0px 0px auto; } }
  @media (max-width: 575.98px) {
    .company-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 40px 0px 25px;
      inset: 0px 0px auto; } }

.company-site {
  display: flex;
  flex-direction: column; }

.company-site.layout {
  position: relative;
  overflow: hidden;
  flex-grow: 1; }

.company-section1__container {
  display: flex; }

.company-section1__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.company-section1__group {
  display: flex; }

.company-section1__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section1__cover-group {
  display: flex;
  background-color: black; }

.company-section1__cover-group.layout {
  position: absolute;
  overflow: visible;
  flex-grow: 1;
  inset: 170.24px 0px 0px; }
  @media (max-width: 1919.98px) {
    .company-section1__cover-group.layout {
      flex-grow: 1;
      inset: 85px 0px 0px; } }
  @media (max-width: 1399.98px) {
    .company-section1__cover-group.layout {
      flex-grow: 1;
      inset: 43px 0px 0px; } }
  @media (max-width: 1199.98px) {
    .company-section1__cover-group.layout {
      flex-grow: 1;
      inset: 22px 0px 0px; } }
  @media (max-width: 991.98px) {
    .company-section1__cover-group.layout {
      flex-grow: 1;
      inset: 11px 0px 0px; } }
  @media (max-width: 767.98px) {
    .company-section1__cover-group.layout {
      flex-grow: 1;
      inset: 6px 0px 0px; } }
  @media (max-width: 575.98px) {
    .company-section1__cover-group.layout {
      flex-grow: 1;
      inset: 3px 0px 0px; } }

.company-section1__flex {
  display: flex; }

.company-section1__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 25.11px 193.79px; }
  @media (max-width: 1919.98px) {
    .company-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 97px; } }
  @media (max-width: 1399.98px) {
    .company-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 49px; } }
  @media (max-width: 1199.98px) {
    .company-section1__flex.layout {
      flex-grow: 1;
      margin: 25px; } }
  @media (max-width: 991.98px) {
    .company-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 13px; } }
  @media (max-width: 767.98px) {
    .company-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 10px; } }

.company-section1__flex-spacer {
  flex: 0 1 0.21px; }

.company-section1__flex-col {
  display: flex;
  flex: 0 1 180.37px; }

.company-section1__group1 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.company-section1__group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.company-section1__image {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.company-section1__image.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.company-section1__big-title {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .company-section1__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section1__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.company-section1__big-title.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.99px 24.3px 2.88px; }

.company-section1__flex-spacer1 {
  flex: 0 1 90px; }

.company-section1__group2 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.company-section1__group2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.company-section1__group3 {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098));
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px;
  padding: 5.88525390625px 14.6318359375px 2.9844589233398438px 14.6318359375px; }
  @media (max-width: 991.98px) {
    .company-section1__group3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section1__group3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.company-section1__group3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section1__decorator {
  background: var(--src) center center/contain no-repeat; }

.company-section1__decorator.layout {
  position: absolute;
  height: 20px;
  width: 22px;
  min-width: 22px;
  margin: 12.19px 0px 12.68px;
  inset: 0px 13.74px auto auto; }

.company-section1__flex-spacer2 {
  flex: 0 1 90px; }

.company-section1__group4 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.company-section1__group4.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.company-section1__big-title1 {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .company-section1__big-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section1__big-title1 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.company-section1__big-title1.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.87px 24.3px 3px; }

.company-section1__flex-spacer3 {
  flex: 0 1 90px; }

.company-section1__group5 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.company-section1__group5.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.company-section1__group6 {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.company-section1__group6.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section1__decorator.layout1 {
  position: relative;
  height: 20px;
  width: 22px;
  min-width: 22px;
  margin: 12.19px 13.47px 12.68px auto; }

.company-section1__big-title2 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .company-section1__big-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section1__big-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.company-section1__big-title2.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.44px 13.9px 3.43px; }

.company-section1__flex-spacer4 {
  flex: 0 1 90px; }

.company-section1__group7 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.company-section1__group7.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.company-section1__big-title3 {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .company-section1__big-title3 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section1__big-title3 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.company-section1__big-title3.layout {
  position: absolute;
  flex-grow: 1;
  inset: 6px 18.88px 2.87px; }

.company-section1__flex-spacer5 {
  flex: 0 1 90px; }

.company-section1__group8 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.company-section1__group8.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.company-section1__big-title4 {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .company-section1__big-title4 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section1__big-title4 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.company-section1__big-title4.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.93px 39.06px 2.94px; }

.company-section1__img {
  background: var(--src) center center/contain no-repeat; }

.company-section1__img.layout {
  position: relative;
  height: 275px;
  width: 1920px;
  min-width: 1920px; }

.company-section1__cover-group1 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section1__cover-group1.layout {
  position: absolute;
  overflow: visible;
  flex-grow: 1;
  inset: 0px 0px 92.76px; }
  @media (max-width: 1919.98px) {
    .company-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 0px 0px 46px; } }
  @media (max-width: 1399.98px) {
    .company-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 0px 0px 23px; } }
  @media (max-width: 1199.98px) {
    .company-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 0px 0px 12px; } }
  @media (max-width: 991.98px) {
    .company-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 0px 0px 6px; } }
  @media (max-width: 767.98px) {
    .company-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 0px 0px 3px; } }
  @media (max-width: 575.98px) {
    .company-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 0px 0px 2px; } }

.company-section1__flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 36.14px 255px; }
  @media (max-width: 1919.98px) {
    .company-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 128px; } }
  @media (max-width: 1399.98px) {
    .company-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 64px; } }
  @media (max-width: 1199.98px) {
    .company-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 32px; } }
  @media (max-width: 991.98px) {
    .company-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 16px; } }
  @media (max-width: 767.98px) {
    .company-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 10px; } }

.company-section1__image4 {
  background: var(--src) center center/contain no-repeat; }

.company-section1__image4.layout {
  position: relative;
  flex: 0 1 60px;
  height: 72.13px;
  width: 60px;
  min-width: 60px;
  margin: 18.42px 0px 19.4px; }

.company-section1__flex1-spacer {
  flex: 0 1 405px; }

.company-section1__flex1-col {
  display: flex;
  flex: 0 1 494px; }

.company-section1__flex2 {
  display: flex;
  flex-direction: column; }

.company-section1__flex2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 8.6px 0px 0px; }
  @media (max-width: 575.98px) {
    .company-section1__flex2.layout {
      flex-grow: 1;
      margin: 4px 0px 0px; } }

.company-section1__hero-title {
  font: 700 54px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.35px; }
  @media (max-width: 1199.98px) {
    .company-section1__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 49px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .company-section1__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 46px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section1__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 42px;
      text-align: left; } }

.company-section1__hero-title.layout {
  position: relative; }

.company-section1__subtitle {
  font: 700 21px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.53px; }

.company-section1__subtitle.layout {
  position: relative;
  margin: 10.36px 19.02px 0px; }
  @media (max-width: 575.98px) {
    .company-section1__subtitle.layout {
      margin: 5px 10px 0px; } }

.company-section1__flex1-spacer1 {
  flex: 0 1 389px; }

.company-section1__image5 {
  background: var(--src) center center/contain no-repeat; }

.company-section1__image5.layout {
  position: relative;
  flex: 0 1 62px;
  height: 65.41px;
  width: 60px;
  min-width: 60px;
  margin: 21.69px 2px 22.85px 0px; }

.company-section2__container {
  display: flex; }

.company-section2__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.company-section2__flex {
  display: flex;
  flex-direction: column; }

.company-section2__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 252px; }
  @media (max-width: 1919.98px) {
    .company-section2__flex.layout {
      flex-grow: 1;
      margin: 0px 126px; } }
  @media (max-width: 1399.98px) {
    .company-section2__flex.layout {
      flex-grow: 1;
      margin: 0px 63px; } }
  @media (max-width: 1199.98px) {
    .company-section2__flex.layout {
      flex-grow: 1;
      margin: 0px 32px; } }
  @media (max-width: 991.98px) {
    .company-section2__flex.layout {
      flex-grow: 1;
      margin: 0px 16px; } }
  @media (max-width: 767.98px) {
    .company-section2__flex.layout {
      flex-grow: 1;
      margin: 0px 10px; } }

.company-section2__flex-spacer {
  flex: 0 0 auto;
  min-height: 273px; }

.company-section2__flex1 {
  display: flex; }

.company-section2__flex1.layout {
  position: relative;
  overflow: visible;
  width: 675.14px;
  min-width: 675.14px;
  margin: 17px auto 0px; }
  @media (max-width: 1199.98px) {
    .company-section2__flex1.layout {
      width: 675.14px;
      min-width: 675.14px;
      margin: 9px auto 0px; } }
  @media (max-width: 991.98px) {
    .company-section2__flex1.layout {
      width: 675.14px;
      min-width: 675.14px;
      margin: 5px auto 0px; } }
  @media (max-width: 767.98px) {
    .company-section2__flex1.layout {
      width: 506px;
      min-width: 506px;
      margin: 3px auto 0px; } }
  @media (max-width: 575.98px) {
    .company-section2__flex1.layout {
      width: 320px;
      min-width: 320px;
      margin: 2px auto 0px; } }

.company-section2__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }
  @media (max-width: 1199.98px) {
    .company-section2__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 78px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .company-section2__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 75px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section2__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 71px;
      text-align: left; } }

.company-section2__hero-title.layout {
  position: relative; }

.company-section2__flex1-spacer {
  flex: 0 1 2px; }

.company-section2__flex1-col {
  display: flex;
  flex: 0 1 255.14px; }

.company-section2__cover-group {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098));
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px;
  justify-content: flex-end;
  padding: 9px 24.136642456054688px 6px 24.136642456054688px; }
  @media (max-width: 991.98px) {
    .company-section2__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section2__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .company-section2__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.company-section2__cover-group.layout {
  position: relative;
  overflow: visible;
  min-height: 59px;
  flex-grow: 1;
  margin: 36px 0px 21px; }

.company-section2__flex2 {
  display: flex; }
  @media (max-width: 1399.98px) {
    .company-section2__flex2 {
      flex-wrap: wrap; } }

.company-section2__flex2.layout {
  position: relative;
  overflow: visible;
  margin: 56px 0px 0px; }
  @media (max-width: 1199.98px) {
    .company-section2__flex2.layout {
      margin: 28px 0px 0px; } }
  @media (max-width: 991.98px) {
    .company-section2__flex2.layout {
      margin: 14px 0px 0px; } }
  @media (max-width: 767.98px) {
    .company-section2__flex2.layout {
      margin: 7px 0px 0px; } }
  @media (max-width: 575.98px) {
    .company-section2__flex2.layout {
      margin: 4px 0px 0px; } }

.company-section2__flex2-col {
  display: flex;
  flex: 1 1 379px; }
  @media (max-width: 1399.98px) {
    .company-section2__flex2-col {
      flex: 0 0 100%; } }

.company-section2__cover-group1 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section2__cover-group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section2__group {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section2__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section2__image {
  background: var(--src) center center/contain no-repeat; }

.company-section2__image.layout {
  position: relative;
  height: 351.54px;
  flex-grow: 1;
  margin: 13.73px; }

.company-section2__flex2-spacer {
  flex: 0 1 139px; }
  @media (max-width: 1399.98px) {
    .company-section2__flex2-spacer {
      flex: 0 0 100%;
      min-height: 20px; } }

.company-section2__flex2-col1 {
  display: flex;
  flex: 1 1 380px; }
  @media (max-width: 1399.98px) {
    .company-section2__flex2-col1 {
      flex: 0 0 100%; } }

.company-section2__cover-group2 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section2__cover-group2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section2__image.layout1 {
  position: relative;
  height: 351.54px;
  flex-grow: 1;
  margin: 13.73px 13.77px; }

.company-section2__cover-group3 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section2__cover-group3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section2__flex3 {
  display: flex; }

.company-section2__flex3.layout {
  position: relative;
  overflow: visible;
  margin: 50px 113px 0px; }
  @media (max-width: 1199.98px) {
    .company-section2__flex3.layout {
      margin: 25px 57px 0px; } }
  @media (max-width: 991.98px) {
    .company-section2__flex3.layout {
      margin: 13px 29px 0px; } }
  @media (max-width: 767.98px) {
    .company-section2__flex3.layout {
      margin: 7px 15px 0px; } }
  @media (max-width: 575.98px) {
    .company-section2__flex3.layout {
      margin: 4px 10px 0px; } }

.company-section2__nikkkke {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section2__nikkkke {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section2__nikkkke {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section2__nikkkke {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section2__nikkkke.layout {
  position: relative;
  margin: 7px 0px 0px; }

.company-section2__flex3-spacer {
  flex: 0 1 365px; }

.company-section2__hero-title1 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section2__hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section2__hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section2__hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section2__hero-title1.layout {
  position: relative;
  margin: 0px 0px 7px; }

.company-section2__flex3-spacer1 {
  flex: 0 1 374px; }

.company-section2__hero-title2 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section2__hero-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section2__hero-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section2__hero-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section2__hero-title2.layout {
  position: relative;
  margin: 0px 0px 7px; }

.company-section2__flex4 {
  display: flex; }
  @media (max-width: 1399.98px) {
    .company-section2__flex4 {
      flex-wrap: wrap; } }

.company-section2__flex4.layout {
  position: relative;
  overflow: visible;
  margin: 85px 0px 0px; }
  @media (max-width: 1199.98px) {
    .company-section2__flex4.layout {
      margin: 43px 0px 0px; } }
  @media (max-width: 991.98px) {
    .company-section2__flex4.layout {
      margin: 22px 0px 0px; } }
  @media (max-width: 767.98px) {
    .company-section2__flex4.layout {
      margin: 11px 0px 0px; } }
  @media (max-width: 575.98px) {
    .company-section2__flex4.layout {
      margin: 6px 0px 0px; } }

.company-section2__flex4-col {
  display: flex;
  flex: 1 1 379px; }
  @media (max-width: 1399.98px) {
    .company-section2__flex4-col {
      flex: 0 0 100%; } }

.company-section2__group.layout4 {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section2__image.layout3 {
  position: relative;
  height: 351.54px;
  flex-grow: 1;
  margin: 15.73px 13.73px 13.73px; }

.company-section2__flex4-spacer {
  flex: 0 1 139px; }
  @media (max-width: 1399.98px) {
    .company-section2__flex4-spacer {
      flex: 0 0 100%;
      min-height: 20px; } }

.company-section2__flex4-col1 {
  display: flex;
  flex: 1 1 380px; }
  @media (max-width: 1399.98px) {
    .company-section2__flex4-col1 {
      flex: 0 0 100%; } }

.company-section2__cover-group4 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section2__cover-group4.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 2px; }

.company-section2__image.layout4 {
  position: relative;
  height: 351.54px;
  flex-grow: 1;
  margin: 13.73px 13.77px; }

.company-section2__cover-group5 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section2__cover-group5.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 2px; }

.company-section2__flex5 {
  display: flex; }

.company-section2__flex5.layout {
  position: relative;
  overflow: visible;
  margin: 41px 124px 0px 168px; }
  @media (max-width: 1199.98px) {
    .company-section2__flex5.layout {
      margin: 21px 62px 0px 84px; } }
  @media (max-width: 991.98px) {
    .company-section2__flex5.layout {
      margin: 11px 31px 0px 42px; } }
  @media (max-width: 767.98px) {
    .company-section2__flex5.layout {
      margin: 6px 16px 0px 21px; } }
  @media (max-width: 575.98px) {
    .company-section2__flex5.layout {
      margin: 3px 10px 0px 11px; } }

.company-section2__lp {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section2__lp {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section2__lp {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section2__lp {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section2__lp.layout {
  position: relative; }

.company-section2__flex5-spacer {
  flex: 0 1 431px; }

.company-section2__hero-title3 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section2__hero-title3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section2__hero-title3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section2__hero-title3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section2__hero-title3.layout {
  position: relative; }

.company-section2__flex5-spacer1 {
  flex: 0 1 399px; }

.company-section2__hero-title4 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section2__hero-title4 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section2__hero-title4 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section2__hero-title4 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section2__hero-title4.layout {
  position: relative; }

.company-section3__container {
  display: flex; }

.company-section3__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.company-section3__flex {
  display: flex;
  flex-direction: column; }

.company-section3__flex.layout6 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 164px 252px; }
  @media (max-width: 1919.98px) {
    .company-section3__flex.layout6 {
      flex-grow: 1;
      margin: 82px 126px; } }
  @media (max-width: 1399.98px) {
    .company-section3__flex.layout6 {
      flex-grow: 1;
      margin: 41px 63px; } }
  @media (max-width: 1199.98px) {
    .company-section3__flex.layout6 {
      flex-grow: 1;
      margin: 25px 32px; } }
  @media (max-width: 991.98px) {
    .company-section3__flex.layout6 {
      flex-grow: 1;
      margin: 25px 16px; } }
  @media (max-width: 767.98px) {
    .company-section3__flex.layout6 {
      flex-grow: 1;
      margin: 25px 10px; } }

.company-section3__flex1 {
  display: flex; }

.company-section3__flex1.layout {
  position: relative;
  overflow: visible;
  margin: 0px 344px; }
  @media (max-width: 1199.98px) {
    .company-section3__flex1.layout {
      margin: 0px 172px; } }
  @media (max-width: 991.98px) {
    .company-section3__flex1.layout {
      margin: 0px 86px; } }
  @media (max-width: 767.98px) {
    .company-section3__flex1.layout {
      margin: 0px 43px; } }
  @media (max-width: 575.98px) {
    .company-section3__flex1.layout {
      margin: 0px 22px; } }

.company-section3__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }
  @media (max-width: 1199.98px) {
    .company-section3__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 78px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .company-section3__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 75px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section3__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 71px;
      text-align: left; } }

.company-section3__hero-title.layout {
  position: relative; }

.company-section3__flex1-spacer {
  flex: 0 1 30px; }

.company-section3__flex1-col {
  display: flex;
  flex: 0 1 280px; }

.company-section3__cover-group {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098));
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px;
  justify-content: flex-end;
  padding: 9px 32px 6px 32px; }
  @media (max-width: 991.98px) {
    .company-section3__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section3__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .company-section3__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.company-section3__cover-group.layout {
  position: relative;
  overflow: visible;
  min-height: 59px;
  flex-grow: 1;
  margin: 38px 0px 19px; }

.company-section3__flex2 {
  display: flex; }
  @media (max-width: 1399.98px) {
    .company-section3__flex2 {
      flex-wrap: wrap; } }

.company-section3__flex2.layout {
  position: relative;
  overflow: visible;
  margin: 84px 0px 0px; }
  @media (max-width: 1199.98px) {
    .company-section3__flex2.layout {
      margin: 42px 0px 0px; } }
  @media (max-width: 991.98px) {
    .company-section3__flex2.layout {
      margin: 21px 0px 0px; } }
  @media (max-width: 767.98px) {
    .company-section3__flex2.layout {
      margin: 11px 0px 0px; } }
  @media (max-width: 575.98px) {
    .company-section3__flex2.layout {
      margin: 6px 0px 0px; } }

.company-section3__flex2-col {
  display: flex;
  flex: 1 1 379px; }
  @media (max-width: 1399.98px) {
    .company-section3__flex2-col {
      flex: 0 0 100%; } }

.company-section3__cover-group1 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section3__cover-group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section3__group {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section3__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section3__image {
  background: var(--src) center center/contain no-repeat; }

.company-section3__image.layout {
  position: relative;
  height: 351.54px;
  flex-grow: 1;
  margin: 13.73px; }

.company-section3__flex2-spacer {
  flex: 0 1 139px; }
  @media (max-width: 1399.98px) {
    .company-section3__flex2-spacer {
      flex: 0 0 100%;
      min-height: 20px; } }

.company-section3__flex2-col1 {
  display: flex;
  flex: 1 1 380px; }
  @media (max-width: 1399.98px) {
    .company-section3__flex2-col1 {
      flex: 0 0 100%; } }

.company-section3__cover-group2 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section3__cover-group2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section3__image.layout1 {
  position: relative;
  height: 351.54px;
  flex-grow: 1;
  margin: 13.73px 13.77px; }

.company-section3__cover-group3 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section3__cover-group3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section3__flex3 {
  display: flex; }

.company-section3__flex3.layout {
  position: relative;
  overflow: visible;
  margin: 22px 48px 0px 73px; }
  @media (max-width: 1199.98px) {
    .company-section3__flex3.layout {
      margin: 11px 24px 0px 37px; } }
  @media (max-width: 991.98px) {
    .company-section3__flex3.layout {
      margin: 6px 12px 0px 19px; } }
  @media (max-width: 767.98px) {
    .company-section3__flex3.layout {
      margin: 3px 10px 0px; } }
  @media (max-width: 575.98px) {
    .company-section3__flex3.layout {
      margin: 2px 10px 0px; } }

.company-section3__flex3-col {
  display: flex;
  flex: 0 1 242px; }

.company-section3__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 7px 0px 0px; }

.company-section3__hero-title1 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section3__hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section3__hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section3__hero-title1.layout {
  position: relative; }

.company-section3__hero-title2 {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__hero-title2 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section3__hero-title2 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .company-section3__hero-title2 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.company-section3__hero-title2.layout {
  position: relative;
  margin: 5px 23px 0px; }

.company-section3__flex3-spacer {
  flex: 0 1 273px; }

.company-section3__flex3-col1 {
  display: flex;
  flex: 0 1 251px; }

.company-section3__flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 7px; }

.company-section3__hero-title3 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__hero-title3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section3__hero-title3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section3__hero-title3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section3__hero-title3.layout {
  position: relative; }

.company-section3__hero-title4 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__hero-title4 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section3__hero-title4 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section3__hero-title4 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section3__hero-title4.layout {
  position: relative;
  margin: 5px 28px 0px; }

.company-section3__flex3-spacer1 {
  flex: 0 1 256px; }

.company-section3__flex3-col2 {
  display: flex;
  flex: 0 1 273px; }

.company-section3__flex.layout2 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 7px; }

.company-section3__hero-title5 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__hero-title5 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section3__hero-title5 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section3__hero-title5 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section3__hero-title5.layout {
  position: relative; }

.company-section3__hero-title6 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__hero-title6 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section3__hero-title6 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .company-section3__hero-title6 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.company-section3__hero-title6.layout {
  position: relative;
  margin: 5px 21px 0px; }

.company-section3__flex7 {
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(255, 249, 249, 0.25098); }
  @media (max-width: 1399.98px) {
    .company-section3__flex7 {
      flex-wrap: wrap; } }

.company-section3__flex7.layout {
  position: relative;
  overflow: visible;
  margin: 64px 0px 142px; }
  @media (max-width: 1199.98px) {
    .company-section3__flex7.layout {
      margin: 32px 0px 71px; } }
  @media (max-width: 991.98px) {
    .company-section3__flex7.layout {
      margin: 25px 0px 36px; } }
  @media (max-width: 767.98px) {
    .company-section3__flex7.layout {
      margin: 25px 0px; } }

.company-section3__flex7-col {
  display: flex;
  flex: 1 1 379px; }
  @media (max-width: 1399.98px) {
    .company-section3__flex7-col {
      flex: 0 0 100%; } }

.company-section3__flex.layout3 {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section3__group.layout4 {
  position: relative; }

.company-section3__image.layout3 {
  position: relative;
  height: 351.54px;
  flex-grow: 1;
  margin: 15.73px 13.73px 13.73px; }

.company-section3__linor-richard {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__linor-richard {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section3__linor-richard {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .company-section3__linor-richard {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.company-section3__linor-richard.layout {
  position: relative;
  margin: 20px 66px 0px; }

.company-section3__hero-title7 {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__hero-title7 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section3__hero-title7 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .company-section3__hero-title7 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.company-section3__hero-title7.layout {
  position: relative;
  margin: 5px 69px 0px; }

.company-section3__flex7-spacer {
  flex: 0 1 139px; }
  @media (max-width: 1399.98px) {
    .company-section3__flex7-spacer {
      flex: 0 0 100%;
      min-height: 20px; } }

.company-section3__flex7-col1 {
  display: flex;
  flex: 1 1 380px; }
  @media (max-width: 1399.98px) {
    .company-section3__flex7-col1 {
      flex: 0 0 100%; } }

.company-section3__flex.layout4 {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section3__cover-group4 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section3__cover-group4.layout {
  position: relative; }

.company-section3__image.layout4 {
  position: relative;
  height: 351.54px;
  flex-grow: 1;
  margin: 13.73px 13.77px; }

.company-section3__porsche-liang {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__porsche-liang {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section3__porsche-liang {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .company-section3__porsche-liang {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.company-section3__porsche-liang.layout {
  position: relative;
  margin: 22px 47px 0px; }

.company-section3__hero-title8 {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__hero-title8 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section3__hero-title8 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .company-section3__hero-title8 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.company-section3__hero-title8.layout {
  position: relative;
  margin: 5px 88px 0px; }

.company-section3__flex.layout5 {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.company-section3__cover-group5 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.company-section3__cover-group5.layout {
  position: relative; }

.company-section3__steven-jiang {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__steven-jiang {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section3__steven-jiang {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .company-section3__steven-jiang {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.company-section3__steven-jiang.layout {
  position: relative;
  margin: 22px 70px 0px; }

.company-section3__hero-title9 {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .company-section3__hero-title9 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .company-section3__hero-title9 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .company-section3__hero-title9 {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.company-section3__hero-title9.layout {
  position: relative;
  margin: 5px 14px 0px; }

.company-section4__container {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25098);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.company-section4__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.company-section4__flex {
  display: flex; }
  @media (max-width: 1199.98px) {
    .company-section4__flex {
      flex-wrap: wrap; } }

.company-section4__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 39.77px 181.91px; }
  @media (max-width: 1919.98px) {
    .company-section4__flex.layout {
      flex-grow: 1;
      margin: 25px 91px; } }
  @media (max-width: 1399.98px) {
    .company-section4__flex.layout {
      flex-grow: 1;
      margin: 25px 46px; } }
  @media (max-width: 1199.98px) {
    .company-section4__flex.layout {
      flex-grow: 1;
      margin: 25px 23px; } }
  @media (max-width: 991.98px) {
    .company-section4__flex.layout {
      flex-grow: 1;
      margin: 25px 12px; } }
  @media (max-width: 767.98px) {
    .company-section4__flex.layout {
      flex-grow: 1;
      margin: 25px 10px; } }

.company-section4__flex-col {
  display: flex;
  flex: 1 1 484px; }
  @media (max-width: 1199.98px) {
    .company-section4__flex-col {
      flex: 0 0 100%; } }

.company-section4__medium-title-box.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 18.45px; }
  @media (max-width: 575.98px) {
    .company-section4__medium-title-box.layout {
      flex-grow: 1;
      margin: 0px 0px 9px; } }

.company-section4__medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.6px;
  white-space: pre-wrap; }

.company-section4__flex-spacer {
  flex: 0 1 567.45px; }
  @media (max-width: 1199.98px) {
    .company-section4__flex-spacer {
      flex: 0 0 100%;
      min-height: 20px; } }

.company-section4__flex-col1 {
  display: flex;
  flex: 1 1 504.74px; }
  @media (max-width: 1199.98px) {
    .company-section4__flex-col1 {
      flex: 0 0 100%; } }

.company-section4__group {
  display: flex; }

.company-section4__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 28.6px 10.74px 68.85px 0px; }
  @media (max-width: 575.98px) {
    .company-section4__group.layout {
      flex-grow: 1;
      margin: 25px 5px 34px 0px; } }

.company-section4__subtitle {
  font: 700 21px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.53px; }

.company-section4__subtitle.layout {
  position: absolute;
  height: 26px;
  inset: auto 28.22px -25.29px 25.78px; }

.company-section4__hero-title {
  font: 700 54px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.35px; }
  @media (max-width: 1199.98px) {
    .company-section4__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 49px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .company-section4__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 46px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .company-section4__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 42px;
      text-align: left; } }

.company-section4__hero-title.layout {
  position: relative;
  flex-grow: 1; }
