/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.news-group {
  display: flex;
  background-color: white; }

.news-group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.news-decorator {
  background: var(--src) center center/contain no-repeat; }

.news-decorator.layout {
  position: absolute;
  height: 809px;
  flex-grow: 1;
  margin: 262px 0px 2433px;
  inset: 0px 0px auto; }
  @media (max-width: 1919.98px) {
    .news-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 131px 0px 1217px;
      inset: 0px 0px auto; } }
  @media (max-width: 1399.98px) {
    .news-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 66px 0px 609px;
      inset: 0px 0px auto; } }
  @media (max-width: 1199.98px) {
    .news-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 33px 0px 305px;
      inset: 0px 0px auto; } }
  @media (max-width: 991.98px) {
    .news-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 25px 0px 153px;
      inset: 0px 0px auto; } }
  @media (max-width: 767.98px) {
    .news-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 25px 0px 77px;
      inset: 0px 0px auto; } }
  @media (max-width: 575.98px) {
    .news-decorator.layout {
      height: 809px;
      flex-grow: 1;
      margin: 25px 0px 39px;
      inset: 0px 0px auto; } }

.news-group1 {
  display: flex; }

.news-group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.news-decorator.layout1 {
  position: absolute;
  height: 958px;
  flex-grow: 1;
  margin: 2546px 0px 0px;
  inset: 0px 0px auto; }
  @media (max-width: 1919.98px) {
    .news-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 1273px 0px 0px;
      inset: 0px 0px auto; } }
  @media (max-width: 1399.98px) {
    .news-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 637px 0px 0px;
      inset: 0px 0px auto; } }
  @media (max-width: 1199.98px) {
    .news-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 319px 0px 0px;
      inset: 0px 0px auto; } }
  @media (max-width: 991.98px) {
    .news-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 160px 0px 0px;
      inset: 0px 0px auto; } }
  @media (max-width: 767.98px) {
    .news-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 80px 0px 0px;
      inset: 0px 0px auto; } }
  @media (max-width: 575.98px) {
    .news-decorator.layout1 {
      height: 958px;
      flex-grow: 1;
      margin: 40px 0px 0px;
      inset: 0px 0px auto; } }

.news-site {
  display: flex;
  flex-direction: column; }

.news-site.layout {
  position: relative;
  overflow: hidden;
  min-height: 3504px;
  flex-grow: 1; }

.news-section1__container {
  display: flex; }

.news-section1__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.news-section1__group {
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25098); }

.news-section1__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.news-section1__group1 {
  display: flex; }

.news-section1__group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.news-section1__cover-group {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.news-section1__cover-group.layout {
  position: absolute;
  overflow: visible;
  flex-grow: 1;
  inset: 0px 0px 92.76px; }
  @media (max-width: 1919.98px) {
    .news-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 46px; } }
  @media (max-width: 1399.98px) {
    .news-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 23px; } }
  @media (max-width: 1199.98px) {
    .news-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 12px; } }
  @media (max-width: 991.98px) {
    .news-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 6px; } }
  @media (max-width: 767.98px) {
    .news-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 3px; } }
  @media (max-width: 575.98px) {
    .news-section1__cover-group.layout {
      flex-grow: 1;
      inset: 0px 0px 2px; } }

.news-section1__flex {
  display: flex; }

.news-section1__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 36.14px 255px; }
  @media (max-width: 1919.98px) {
    .news-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 128px; } }
  @media (max-width: 1399.98px) {
    .news-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 64px; } }
  @media (max-width: 1199.98px) {
    .news-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 32px; } }
  @media (max-width: 991.98px) {
    .news-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 16px; } }
  @media (max-width: 767.98px) {
    .news-section1__flex.layout {
      flex-grow: 1;
      margin: 25px 10px; } }

.news-section1__image {
  background: var(--src) center center/contain no-repeat; }

.news-section1__image.layout {
  position: relative;
  flex: 0 1 60px;
  height: 72.13px;
  width: 60px;
  min-width: 60px;
  margin: 18.42px 0px 19.4px; }

.news-section1__flex-spacer {
  flex: 0 1 405px; }

.news-section1__flex-col {
  display: flex;
  flex: 0 1 494px; }

.news-section1__flex1 {
  display: flex;
  flex-direction: column; }

.news-section1__flex1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 8.6px 0px 0px; }
  @media (max-width: 575.98px) {
    .news-section1__flex1.layout {
      flex-grow: 1;
      margin: 4px 0px 0px; } }

.news-section1__hero-title {
  font: 700 54px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.35px; }
  @media (max-width: 1199.98px) {
    .news-section1__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 49px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .news-section1__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 46px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section1__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 42px;
      text-align: left; } }

.news-section1__hero-title.layout {
  position: relative; }

.news-section1__subtitle {
  font: 700 21px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.53px; }

.news-section1__subtitle.layout {
  position: relative;
  margin: 10.36px 19.02px 0px; }
  @media (max-width: 575.98px) {
    .news-section1__subtitle.layout {
      margin: 5px 10px 0px; } }

.news-section1__flex-spacer1 {
  flex: 0 1 389px; }

.news-section1__image.layout1 {
  position: relative;
  flex: 0 1 62px;
  height: 65.41px;
  width: 60px;
  min-width: 60px;
  margin: 21.69px 2px 22.85px 0px; }

.news-section1__img {
  background: var(--src) center center/cover no-repeat; }

.news-section1__img.layout {
  position: relative;
  height: 275px;
  width: 1920px;
  min-width: 1920px; }

.news-section1__cover-group1 {
  display: flex;
  background-color: black; }

.news-section1__cover-group1.layout {
  position: absolute;
  overflow: visible;
  flex-grow: 1;
  inset: 170.24px 0px 0px; }
  @media (max-width: 1919.98px) {
    .news-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 85px 0px 0px; } }
  @media (max-width: 1399.98px) {
    .news-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 43px 0px 0px; } }
  @media (max-width: 1199.98px) {
    .news-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 22px 0px 0px; } }
  @media (max-width: 991.98px) {
    .news-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 11px 0px 0px; } }
  @media (max-width: 767.98px) {
    .news-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 6px 0px 0px; } }
  @media (max-width: 575.98px) {
    .news-section1__cover-group1.layout {
      flex-grow: 1;
      inset: 3px 0px 0px; } }

.news-section1__flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 25.11px 193.79px; }
  @media (max-width: 1919.98px) {
    .news-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 97px; } }
  @media (max-width: 1399.98px) {
    .news-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 49px; } }
  @media (max-width: 1199.98px) {
    .news-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px; } }
  @media (max-width: 991.98px) {
    .news-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 13px; } }
  @media (max-width: 767.98px) {
    .news-section1__flex.layout1 {
      flex-grow: 1;
      margin: 25px 10px; } }

.news-section1__flex2-spacer {
  flex: 0 1 0.21px; }

.news-section1__flex2-col {
  display: flex;
  flex: 0 1 180.37px; }

.news-section1__group2 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.news-section1__group2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.news-section1__image2 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.news-section1__image2.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.news-section1__big-title {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .news-section1__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .news-section1__big-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 25px;
      text-align: right; } }

.news-section1__big-title.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.99px 24.3px 2.88px; }

.news-section1__flex2-spacer1 {
  flex: 0 1 90px; }

.news-section1__group3 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.news-section1__group3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.news-section1__group4 {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.news-section1__group4.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.news-section1__decorator {
  background: var(--src) center center/contain no-repeat; }

.news-section1__decorator.layout {
  position: relative;
  height: 20px;
  width: 22px;
  min-width: 22px;
  margin: 12.18px 13.74px 12.68px auto; }

.news-section1__big-title1 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .news-section1__big-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section1__big-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.news-section1__big-title1.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.89px 14.63px 2.98px; }

.news-section1__flex2-spacer2 {
  flex: 0 1 90px; }

.news-section1__group5 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.news-section1__group5.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.news-section1__image3 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.news-section1__image3.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.news-section1__big-title.layout1 {
  position: absolute;
  flex-grow: 1;
  inset: 5.87px 24.3px 3px; }

.news-section1__flex2-spacer3 {
  flex: 0 1 90px; }

.news-section1__group6 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.news-section1__group6.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.news-section1__group7 {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.news-section1__group7.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.news-section1__decorator.layout1 {
  position: relative;
  height: 20px;
  width: 22px;
  min-width: 22px;
  margin: 12.18px 13.47px 12.68px auto; }

.news-section1__big-title3 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }
  @media (max-width: 991.98px) {
    .news-section1__big-title3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section1__big-title3 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 25px;
      text-align: left; } }

.news-section1__big-title3.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.43px 13.9px 3.43px; }

.news-section1__flex2-spacer4 {
  flex: 0 1 90px; }

.news-section1__group8 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.news-section1__group8.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.news-section1__image4 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.news-section1__image4.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.news-section1__big-title.layout2 {
  position: absolute;
  flex-grow: 1;
  inset: 6px 18.88px 2.87px; }

.news-section1__flex2-spacer5 {
  flex: 0 1 90px; }

.news-section1__group9 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.news-section1__group9.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.news-section1__image5 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.news-section1__image5.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.news-section1__big-title.layout3 {
  position: absolute;
  flex-grow: 1;
  inset: 5.93px 39.06px 2.94px; }

.news-section2__container {
  display: flex; }

.news-section2__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.news-section2__flex {
  display: flex; }

.news-section2__flex.layout {
  position: relative;
  overflow: visible;
  width: 620px;
  min-width: 620px;
  margin: 0px auto; }
  @media (max-width: 767.98px) {
    .news-section2__flex.layout {
      width: 465px;
      min-width: 465px;
      margin: 0px auto; } }
  @media (max-width: 575.98px) {
    .news-section2__flex.layout {
      width: 320px;
      min-width: 320px;
      margin: 0px auto; } }

.news-section2__flex-spacer {
  flex: 0 1 1px; }

.news-section2__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }
  @media (max-width: 1199.98px) {
    .news-section2__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 78px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .news-section2__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 75px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section2__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 71px;
      text-align: left; } }

.news-section2__hero-title.layout {
  position: relative;
  margin: 280px 0px 0px; }
  @media (max-width: 575.98px) {
    .news-section2__hero-title.layout {
      margin: 140px 0px 0px; } }

.news-section2__flex-spacer1 {
  flex: 0 1 13px; }

.news-section2__flex-col {
  display: flex;
  flex: 0 1 188px; }

.news-section2__cover-group {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098));
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px;
  justify-content: flex-end;
  padding: 9px 33px 6px 33px; }
  @media (max-width: 991.98px) {
    .news-section2__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .news-section2__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .news-section2__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.news-section2__cover-group.layout {
  position: relative;
  overflow: visible;
  min-height: 59px;
  flex-grow: 1;
  margin: 316px 0px 21px; }

.news-section3__container {
  display: flex; }

.news-section3__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.news-section3__flex {
  display: flex;
  flex-direction: column; }

.news-section3__flex.layout4 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 92px; }
  @media (max-width: 1919.98px) {
    .news-section3__flex.layout4 {
      flex-grow: 1;
      margin: 0px 46px; } }
  @media (max-width: 1399.98px) {
    .news-section3__flex.layout4 {
      flex-grow: 1;
      margin: 0px 23px; } }
  @media (max-width: 1199.98px) {
    .news-section3__flex.layout4 {
      flex-grow: 1;
      margin: 0px 12px; } }
  @media (max-width: 991.98px) {
    .news-section3__flex.layout4 {
      flex-grow: 1;
      margin: 0px 10px; } }

.news-section3__flex1 {
  display: flex; }

.news-section3__flex1.layout {
  position: relative;
  overflow: visible;
  margin: 58px 91px 0px; }
  @media (max-width: 1399.98px) {
    .news-section3__flex1.layout {
      margin: 29px 46px 0px; } }
  @media (max-width: 1199.98px) {
    .news-section3__flex1.layout {
      margin: 15px 23px 0px; } }
  @media (max-width: 991.98px) {
    .news-section3__flex1.layout {
      margin: 8px 12px 0px; } }
  @media (max-width: 767.98px) {
    .news-section3__flex1.layout {
      margin: 4px 10px 0px; } }
  @media (max-width: 575.98px) {
    .news-section3__flex1.layout {
      margin: 2px 10px 0px; } }

.news-section3__flex1-col {
  display: flex;
  flex: 0 1 662px; }

.news-section3__image {
  background: var(--src) center center/contain no-repeat;
  border-radius: 82px 0px 88px 0px; }

.news-section3__image.layout {
  position: relative;
  height: 415px;
  flex-grow: 1; }

.news-section3__flex1-spacer {
  flex: 0 1 111px; }

.news-section3__flex1-col1 {
  display: flex;
  flex: 1 1 410px; }

.news-section3__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 73px 0px 71px; }
  @media (max-width: 575.98px) {
    .news-section3__flex.layout {
      flex-grow: 1;
      margin: 37px 0px 36px; } }

@media (max-width: 1199.98px) {
  .news-section3__hero-title-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 991.98px) {
  .news-section3__hero-title-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 767.98px) {
  .news-section3__hero-title-box {
    align-items: flex-start;
    justify-content: flex-start; } }

.news-section3__hero-title-box.layout {
  position: relative; }

.news-section3__hero-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 64px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.6px;
  white-space: pre-wrap; }
  @media (max-width: 1199.98px) {
    .news-section3__hero-title {
      font-size: 56px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .news-section3__hero-title {
      font-size: 53px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section3__hero-title {
      font-size: 49px;
      text-align: left; } }

.news-section3__hero-title1 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: #6f7172;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .news-section3__hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section3__hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .news-section3__hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.news-section3__hero-title1.layout {
  position: relative;
  margin: 8px 9px 0px; }
  @media (max-width: 575.98px) {
    .news-section3__hero-title1.layout {
      margin: 4px 9px 0px; } }

.news-section3__hero-title2 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .news-section3__hero-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section3__hero-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .news-section3__hero-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.news-section3__hero-title2.layout {
  position: relative;
  margin: 21px 9px 0px; }
  @media (max-width: 575.98px) {
    .news-section3__hero-title2.layout {
      margin: 11px 9px 0px; } }

.news-section3__flex3 {
  display: flex; }

.news-section3__flex3.layout {
  position: relative;
  overflow: visible;
  margin: 85px 0px 0px 422px; }
  @media (max-width: 1399.98px) {
    .news-section3__flex3.layout {
      margin: 43px 0px 0px 211px; } }
  @media (max-width: 1199.98px) {
    .news-section3__flex3.layout {
      margin: 22px 0px 0px 106px; } }
  @media (max-width: 991.98px) {
    .news-section3__flex3.layout {
      margin: 11px 0px 0px 53px; } }
  @media (max-width: 767.98px) {
    .news-section3__flex3.layout {
      margin: 6px 0px 0px 27px; } }
  @media (max-width: 575.98px) {
    .news-section3__flex3.layout {
      margin: 3px 0px 0px 14px; } }

.news-section3__flex3-col {
  display: flex;
  flex: 0 1 662px; }

.news-section3__flex3-spacer {
  flex: 0 1 111px; }

.news-section3__flex3-col1 {
  display: flex;
  flex: 1 1 541px; }

@media (max-width: 1199.98px) {
  .news-section3__hero-title3-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 991.98px) {
  .news-section3__hero-title3-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 767.98px) {
  .news-section3__hero-title3-box {
    align-items: flex-start;
    justify-content: flex-start; } }

.news-section3__hero-title3-box.layout {
  position: relative; }

.news-section3__hero-title4 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: #6f7172;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .news-section3__hero-title4 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section3__hero-title4 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .news-section3__hero-title4 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.news-section3__hero-title4.layout {
  position: relative;
  margin: 8px 9px 0px; }
  @media (max-width: 575.98px) {
    .news-section3__hero-title4.layout {
      margin: 4px 9px 0px; } }

.news-section3__hero-title5 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .news-section3__hero-title5 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section3__hero-title5 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .news-section3__hero-title5 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.news-section3__hero-title5.layout {
  position: relative;
  margin: 21px 9px 0px; }
  @media (max-width: 575.98px) {
    .news-section3__hero-title5.layout {
      margin: 11px 9px 0px; } }

.news-section3__flex5 {
  display: flex; }

.news-section3__flex5.layout {
  position: relative;
  overflow: visible;
  margin: 85px 91px 0px; }
  @media (max-width: 1399.98px) {
    .news-section3__flex5.layout {
      margin: 43px 46px 0px; } }
  @media (max-width: 1199.98px) {
    .news-section3__flex5.layout {
      margin: 22px 23px 0px; } }
  @media (max-width: 991.98px) {
    .news-section3__flex5.layout {
      margin: 11px 12px 0px; } }
  @media (max-width: 767.98px) {
    .news-section3__flex5.layout {
      margin: 6px 10px 0px; } }
  @media (max-width: 575.98px) {
    .news-section3__flex5.layout {
      margin: 3px 10px 0px; } }

.news-section3__flex5-col {
  display: flex;
  flex: 0 1 662px; }

.news-section3__flex5-spacer {
  flex: 0 1 111px; }

.news-section3__flex5-col1 {
  display: flex;
  flex: 1 1 541px; }

@media (max-width: 1199.98px) {
  .news-section3__hero-title6-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 991.98px) {
  .news-section3__hero-title6-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 767.98px) {
  .news-section3__hero-title6-box {
    align-items: flex-start;
    justify-content: flex-start; } }

.news-section3__hero-title6-box.layout {
  position: relative; }

.news-section3__hero-title7 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: #6f7172;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .news-section3__hero-title7 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section3__hero-title7 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .news-section3__hero-title7 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.news-section3__hero-title7.layout {
  position: relative;
  margin: 8px 9px 0px; }
  @media (max-width: 575.98px) {
    .news-section3__hero-title7.layout {
      margin: 4px 9px 0px; } }

.news-section3__hero-title8 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .news-section3__hero-title8 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section3__hero-title8 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .news-section3__hero-title8 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.news-section3__hero-title8.layout {
  position: relative;
  margin: 21px 9px 0px; }
  @media (max-width: 575.98px) {
    .news-section3__hero-title8.layout {
      margin: 11px 9px 0px; } }

.news-section3__flex7 {
  display: flex; }

.news-section3__flex7.layout {
  position: relative;
  overflow: visible;
  margin: 85px 0px 0px 422px; }
  @media (max-width: 1399.98px) {
    .news-section3__flex7.layout {
      margin: 43px 0px 0px 211px; } }
  @media (max-width: 1199.98px) {
    .news-section3__flex7.layout {
      margin: 22px 0px 0px 106px; } }
  @media (max-width: 991.98px) {
    .news-section3__flex7.layout {
      margin: 11px 0px 0px 53px; } }
  @media (max-width: 767.98px) {
    .news-section3__flex7.layout {
      margin: 6px 0px 0px 27px; } }
  @media (max-width: 575.98px) {
    .news-section3__flex7.layout {
      margin: 3px 0px 0px 14px; } }

.news-section3__flex7-col {
  display: flex;
  flex: 0 1 662px; }

.news-section3__flex7-spacer {
  flex: 0 1 111px; }

.news-section3__flex7-col1 {
  display: flex;
  flex: 1 1 541px; }

@media (max-width: 1199.98px) {
  .news-section3__hero-title9-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 991.98px) {
  .news-section3__hero-title9-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 767.98px) {
  .news-section3__hero-title9-box {
    align-items: flex-start;
    justify-content: flex-start; } }

.news-section3__hero-title9-box.layout {
  position: relative; }

.news-section3__hero-title10 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: #6f7172;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .news-section3__hero-title10 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section3__hero-title10 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .news-section3__hero-title10 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.news-section3__hero-title10.layout {
  position: relative;
  margin: 8px 9px 0px; }
  @media (max-width: 575.98px) {
    .news-section3__hero-title10.layout {
      margin: 4px 9px 0px; } }

.news-section3__hero-title11 {
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px; }
  @media (max-width: 991.98px) {
    .news-section3__hero-title11 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section3__hero-title11 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .news-section3__hero-title11 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.news-section3__hero-title11.layout {
  position: relative;
  margin: 21px 9px 0px; }
  @media (max-width: 575.98px) {
    .news-section3__hero-title11.layout {
      margin: 11px 9px 0px; } }

.news-section4__container {
  display: flex;
  flex-direction: column; }

.news-section4__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.news-section4__hero-title {
  display: flex;
  justify-content: flex-end;
  font: 700 48px/1.2 "Roboto", Helvetica, Arial, serif;
  color: #7a7a7a;
  text-align: right;
  letter-spacing: 1.2px; }
  @media (max-width: 1199.98px) {
    .news-section4__hero-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 45px;
      text-align: right; } }
  @media (max-width: 991.98px) {
    .news-section4__hero-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 42px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .news-section4__hero-title {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 38px;
      text-align: right; } }

.news-section4__hero-title.layout {
  position: relative;
  width: 322px;
  min-width: 322px;
  margin: 71px auto 0px; }
  @media (max-width: 1919.98px) {
    .news-section4__hero-title.layout {
      width: 322px;
      min-width: 322px;
      margin: 36px auto 0px; } }
  @media (max-width: 1399.98px) {
    .news-section4__hero-title.layout {
      width: 322px;
      min-width: 322px;
      margin: 18px auto 0px; } }
  @media (max-width: 1199.98px) {
    .news-section4__hero-title.layout {
      width: 322px;
      min-width: 322px;
      margin: 9px auto 0px; } }
  @media (max-width: 991.98px) {
    .news-section4__hero-title.layout {
      width: 322px;
      min-width: 322px;
      margin: 5px auto 0px; } }
  @media (max-width: 767.98px) {
    .news-section4__hero-title.layout {
      width: 322px;
      min-width: 322px;
      margin: 3px auto 0px; } }
  @media (max-width: 575.98px) {
    .news-section4__hero-title.layout {
      width: 242px;
      min-width: 242px;
      margin: 2px auto 0px; } }

.news-section4__rect {
  background-color: black;
  opacity: 0.5; }

.news-section4__rect.layout {
  position: relative;
  height: 3px;
  margin: 11px 408px 0px; }
  @media (max-width: 1919.98px) {
    .news-section4__rect.layout {
      height: 3px;
      margin: 6px 204px 0px; } }
  @media (max-width: 1399.98px) {
    .news-section4__rect.layout {
      height: 3px;
      margin: 3px 102px 0px; } }
  @media (max-width: 1199.98px) {
    .news-section4__rect.layout {
      height: 3px;
      margin: 2px 51px 0px; } }
  @media (max-width: 991.98px) {
    .news-section4__rect.layout {
      height: 3px;
      margin: 1px 26px 0px; } }
  @media (max-width: 767.98px) {
    .news-section4__rect.layout {
      height: 3px;
      margin: 1px 13px 0px; } }
  @media (max-width: 575.98px) {
    .news-section4__rect.layout {
      height: 3px;
      margin: 1px 10px 0px; } }

.news-section5__container {
  display: flex; }

.news-section5__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.news-section5__flex {
  display: flex; }

.news-section5__flex.layout {
  position: relative;
  overflow: visible;
  width: 476.27px;
  min-width: 476.27px;
  margin: 47px auto; }
  @media (max-width: 1919.98px) {
    .news-section5__flex.layout {
      width: 476.27px;
      min-width: 476.27px;
      margin: 25px auto; } }
  @media (max-width: 575.98px) {
    .news-section5__flex.layout {
      width: 320px;
      min-width: 320px;
      margin: 25px auto; } }

.news-section5__flex-spacer {
  flex: 0 1 0.14px; }

.news-section5__flex-col {
  display: flex;
  flex: 0 1 221px; }

.news-section5__group {
  display: flex; }

.news-section5__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 293px; }

.news-section5__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }
  @media (max-width: 1199.98px) {
    .news-section5__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 78px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .news-section5__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 75px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section5__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 71px;
      text-align: left; } }

.news-section5__hero-title.layout {
  position: relative;
  flex-grow: 1; }

@media (max-width: 991.98px) {
  .news-section5__hero-title1-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 767.98px) {
  .news-section5__hero-title1-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 575.98px) {
  .news-section5__hero-title1-box {
    align-items: flex-start;
    justify-content: flex-start; } }

.news-section5__hero-title1-box.layout {
  position: absolute;
  height: 260px;
  inset: auto -768px -257px -494px; }

.news-section5__hero-title1 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px;
  white-space: pre-wrap; }
  @media (max-width: 991.98px) {
    .news-section5__hero-title1 {
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section5__hero-title1 {
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .news-section5__hero-title1 {
      font-size: 29px;
      text-align: left; } }

.news-section5__flex-col1 {
  display: flex;
  flex: 0 1 255.14px; }

.news-section5__cover-group {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098));
  font: 700 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.9px;
  justify-content: flex-end;
  padding: 9px 52.13664245605469px 6px 52.13664245605469px; }
  @media (max-width: 991.98px) {
    .news-section5__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 33px;
      text-align: right; } }
  @media (max-width: 767.98px) {
    .news-section5__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 30px;
      text-align: right; } }
  @media (max-width: 575.98px) {
    .news-section5__cover-group {
      align-items: flex-start;
      justify-content: flex-end;
      font-size: 29px;
      text-align: right; } }

.news-section5__cover-group.layout {
  position: relative;
  overflow: visible;
  min-height: 59px;
  flex-grow: 1;
  margin: 36px 0px 314px; }

.news-section6__container {
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25098); }

.news-section6__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.news-section6__medium-title-box.layout {
  position: absolute;
  width: 484px;
  min-width: 484px;
  inset: 30px auto 40px 203.79px; }
  @media (max-width: 1919.98px) {
    .news-section6__medium-title-box.layout {
      width: 484px;
      min-width: 484px;
      inset: 25px auto 25px 203.79px; } }

.news-section6__medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.6px;
  white-space: pre-wrap; }

.news-section6__image {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.news-section6__image.layout {
  position: relative;
  height: 213px;
  flex-grow: 1;
  margin: 1px 0px 0px; }

.news-section6__group {
  display: flex; }

.news-section6__group.layout {
  position: absolute;
  width: 494px;
  min-width: 494px;
  inset: 57px 174.3px 68.05px auto; }
  @media (max-width: 1919.98px) {
    .news-section6__group.layout {
      width: 494px;
      min-width: 494px;
      inset: 29px 174.3px 34px auto; } }
  @media (max-width: 1399.98px) {
    .news-section6__group.layout {
      width: 494px;
      min-width: 494px;
      inset: 25px 174.3px 25px auto; } }

.news-section6__group1 {
  display: flex; }

.news-section6__group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 23.95px; }
  @media (max-width: 575.98px) {
    .news-section6__group1.layout {
      flex-grow: 1;
      margin: 0px 0px 12px; } }

.news-section6__subtitle {
  font: 700 21px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.53px; }

.news-section6__subtitle.layout {
  position: absolute;
  height: 26px;
  inset: auto 28.23px -23.95px 25.77px; }

.news-section6__hero-title {
  font: 700 54px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.35px;
  width: 100%;
  height: 100%; }
  @media (max-width: 1199.98px) {
    .news-section6__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 49px;
      text-align: left; } }
  @media (max-width: 991.98px) {
    .news-section6__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 46px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .news-section6__hero-title {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 42px;
      text-align: left; } }
