/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.tidbits-group {
  display: flex;
  background-color: white; }

.tidbits-group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.tidbits-decorator {
  background: var(--src) center center/contain no-repeat; }

.tidbits-decorator.layout {
  position: absolute;
  height: 809px;
  flex-grow: 1;
  margin: 250px 0px 2680px;
  inset: 0px 0px auto; }

.tidbits-group1 {
  display: flex; }

.tidbits-group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.tidbits-decorator.layout1 {
  position: absolute;
  height: 692.5px;
  flex-grow: 1;
  margin: 459.18px 0px 2587.32px;
  inset: 0px 278px auto 349px; }

.tidbits-group2 {
  display: flex; }

.tidbits-group2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.tidbits-decorator.layout2 {
  position: absolute;
  height: 692.5px;
  flex-grow: 1;
  margin: 1203.04px 0px 1843.46px;
  inset: 0px 288.93px auto 337.57px; }

.tidbits-group3 {
  display: flex; }

.tidbits-group3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.tidbits-decorator.layout3 {
  position: absolute;
  height: 692.5px;
  flex-grow: 1;
  margin: 1946.9px 0px 1099.6px;
  inset: 0px 278px auto 349px; }

.tidbits-group4 {
  display: flex; }

.tidbits-group4.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.tidbits-decorator.layout4 {
  position: absolute;
  height: 958px;
  flex-grow: 1;
  margin: 2546px 0px 235px;
  inset: 0px 0px auto; }

.tidbits-site {
  display: flex;
  flex-direction: column; }

.tidbits-site.layout {
  position: relative;
  overflow: hidden;
  min-height: 3739px;
  flex-grow: 1; }

.tidbits-section1__container {
  display: flex; }

.tidbits-section1__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.tidbits-section1__group {
  display: flex; }

.tidbits-section1__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.tidbits-section1__cover-group {
  display: flex; }

.tidbits-section1__cover-group.layout {
  position: absolute;
  overflow: visible;
  flex-grow: 1;
  inset: 0px 0px 92.76px; }

.tidbits-section1__flex {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.tidbits-section1__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.tidbits-section1__flex-spacer {
  flex: 0 1 255px; }

.tidbits-section1__image {
  background: var(--src) center center/contain no-repeat; }

.tidbits-section1__image.layout {
  position: relative;
  flex: 0 1 60px;
  height: 72.13px;
  width: 60px;
  min-width: 60px;
  margin: 54.56px 0px 55.54px; }

.tidbits-section1__flex-spacer1 {
  flex: 0 1 405px; }

.tidbits-section1__flex-col {
  display: flex;
  flex: 0 1 479px; }

.tidbits-section1__flex1 {
  display: flex;
  flex-direction: column; }

.tidbits-section1__flex1.layout {
  position: relative;
  overflow: visible;
  height: 106.4px;
  width: 480px;
  min-width: 480px;
  margin: 44.74px auto 31.1px; }

.tidbits-section1__hero-title {
  font: 700 54px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.35px; }

.tidbits-section1__hero-title.layout {
  position: relative; }

.tidbits-section1__subtitle {
  font: 700 21px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.53px; }

.tidbits-section1__subtitle.layout {
  position: relative;
  margin: 12.36px 19.02px 0px; }

.tidbits-section1__flex-spacer2 {
  flex: 0 1 404px; }

.tidbits-section1__flex-col1 {
  display: flex;
  flex: 0 1 317px; }

.tidbits-section1__image.layout1 {
  position: relative;
  height: 65.41px;
  width: 60px;
  min-width: 60px;
  margin: 57.84px 0px 59px; }

.tidbits-section1__img {
  background: var(--src) center center/contain no-repeat; }

.tidbits-section1__img.layout {
  position: relative;
  height: 275px;
  width: 1920px;
  min-width: 1920px; }

.tidbits-section1__cover-group1 {
  display: flex;
  background-color: black; }

.tidbits-section1__cover-group1.layout {
  position: absolute;
  overflow: visible;
  flex-grow: 1;
  inset: 170.24px 0px 0px; }

.tidbits-section1__flex2 {
  display: flex; }

.tidbits-section1__flex2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 25.11px 193.79px; }

.tidbits-section1__flex2-spacer {
  flex: 0 1 0.21px; }

.tidbits-section1__flex2-col {
  display: flex;
  flex: 0 1 180.37px; }

.tidbits-section1__group1 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.tidbits-section1__group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.tidbits-section1__image2 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.tidbits-section1__image2.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.tidbits-section1__big-title {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0.75px; }

.tidbits-section1__big-title.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.99px 23.96px 5.96px; }

.tidbits-section1__flex2-spacer1 {
  flex: 0 1 90px; }

.tidbits-section1__group2 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.tidbits-section1__group2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.tidbits-section1__group3 {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.tidbits-section1__group3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.tidbits-section1__decorator {
  background: var(--src) center center/contain no-repeat; }

.tidbits-section1__decorator.layout {
  position: relative;
  height: 20px;
  width: 22px;
  min-width: 22px;
  margin: 12.18px 13.74px 12.69px auto; }

.tidbits-section1__big-title1 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }

.tidbits-section1__big-title1.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.88px 14.63px 3.98px; }

.tidbits-section1__flex2-spacer2 {
  flex: 0 1 90px; }

.tidbits-section1__group4 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.tidbits-section1__group4.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.tidbits-section1__image3 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.tidbits-section1__image3.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.tidbits-section1__big-title2 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }

.tidbits-section1__big-title2.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.87px 25.07px 11.06px; }

.tidbits-section1__flex2-spacer3 {
  flex: 0 1 90px; }

.tidbits-section1__group5 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.tidbits-section1__group5.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.tidbits-section1__group6 {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.tidbits-section1__group6.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1; }

.tidbits-section1__decorator.layout1 {
  position: relative;
  height: 20px;
  width: 22px;
  min-width: 22px;
  margin: 12.18px 13.47px 12.69px auto; }

.tidbits-section1__big-title3 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }

.tidbits-section1__big-title3.layout {
  position: absolute;
  flex-grow: 1;
  inset: 5.43px 13.9px 4.44px; }

.tidbits-section1__flex2-spacer4 {
  flex: 0 1 90px; }

.tidbits-section1__group7 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.tidbits-section1__group7.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.tidbits-section1__image4 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.tidbits-section1__image4.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.tidbits-section1__big-title4 {
  display: flex;
  justify-content: flex-end;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: right;
  letter-spacing: 0.75px; }

.tidbits-section1__big-title4.layout {
  position: absolute;
  flex-grow: 1;
  inset: 6px 17.53px 5.95px; }

.tidbits-section1__flex2-spacer5 {
  flex: 0 1 90px; }

.tidbits-section1__group8 {
  display: flex;
  background: var(--src) center center/cover no-repeat; }

.tidbits-section1__group8.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 9.68px 0px 0px; }

.tidbits-section1__image5 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.tidbits-section1__image5.layout {
  position: relative;
  height: 44.87px;
  flex-grow: 1; }

.tidbits-section1__big-title.layout1 {
  position: absolute;
  flex-grow: 1;
  inset: 5.93px 40.8px 6.02px; }

.tidbits-section2__container {
  display: flex; }

.tidbits-section2__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.tidbits-section2__flex {
  display: flex; }

.tidbits-section2__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 361px; }

.tidbits-section2__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }

.tidbits-section2__hero-title.layout {
  position: relative;
  margin: 251px 0px 0px; }

.tidbits-section2__flex-spacer {
  flex: 0 1 19px; }

.tidbits-section2__flex-col {
  display: flex;
  flex: 0 1 237px; }

.tidbits-section2__group {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098));
  font: 700 42px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.05px;
  justify-content: flex-end;
  padding: 5px 32px 5px 32px; }

.tidbits-section2__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 278px 0px 27px; }

.tidbits-section2__big-title {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }

.tidbits-section2__big-title.layout {
  position: relative;
  margin: 290px 0px 39px; }

.tidbits-section3__container {
  display: flex; }

.tidbits-section3__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.tidbits-section3__flex {
  display: flex; }

.tidbits-section3__flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 254px; }

.tidbits-section3__flex-col {
  display: flex;
  flex: 0 1 443px; }

.tidbits-section3__image {
  background: var(--src) center center/contain no-repeat; }

.tidbits-section3__image.layout {
  position: relative;
  height: 443px;
  flex-grow: 1;
  margin: 31.29px 0px 0px; }

.tidbits-section3__flex-spacer {
  flex: 0 1 78px; }

.tidbits-section3__flex-col1 {
  display: flex;
  flex: 1 1 891px; }

.tidbits-section3__flex1 {
  display: flex;
  flex-direction: column; }

.tidbits-section3__flex1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 44.29px 0px 45.29px; }

.tidbits-section3__big-title-box.layout {
  position: relative; }

.tidbits-section3__big-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px;
  white-space: pre-wrap; }

.tidbits-section3__flex.layout {
  position: relative;
  overflow: visible;
  margin: 44.71px 0px 0px; }

.tidbits-section3__flex2-col {
  display: flex;
  flex: 0 1 200px; }

.tidbits-section3__image1 {
  background: var(--src) center center/contain no-repeat;
  border-radius: 35px 35px 35px 35px; }

.tidbits-section3__image1.layout {
  position: relative;
  height: 200px;
  flex-grow: 1; }

.tidbits-section3__flex2-spacer {
  flex: 0 1 78px; }

.tidbits-section3__image2 {
  background: var(--src) center center/contain no-repeat;
  border-radius: 35px 35px 35px 35px; }

.tidbits-section3__image2.layout {
  position: relative;
  height: 200px;
  flex-grow: 1; }

.tidbits-section3__image3 {
  background: var(--src) center center/contain no-repeat;
  border-radius: 35px 35px 35px 35px; }

.tidbits-section3__image3.layout {
  position: relative;
  height: 200px;
  flex-grow: 1; }

.tidbits-section4__container {
  display: flex; }

.tidbits-section4__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.tidbits-section4__flex {
  display: flex; }

.tidbits-section4__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 287.98px; }

.tidbits-section4__flex-spacer {
  flex: 0 1 69.02px; }

.tidbits-section4__flex-col {
  display: flex;
  flex: 0 1 237px; }

.tidbits-section4__flex1 {
  display: flex;
  flex-direction: column; }

.tidbits-section4__flex1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 274.71px 0px 231px; }

.tidbits-section4__group {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098));
  font: 700 42px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.05px;
  justify-content: flex-end;
  padding: 5px 32px 5px 32px; }

.tidbits-section4__group.layout {
  position: relative;
  overflow: visible; }

.tidbits-section4__big-title {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }

.tidbits-section4__big-title.layout {
  position: relative;
  margin: 23px 46px 0px; }

.tidbits-section4__flex-spacer1 {
  flex: 0 1 19px; }

.tidbits-section4__flex-col1 {
  display: flex;
  flex: 0 1 1019.02px; }

.tidbits-section4__big-title-wrap {
  display: flex; }

.tidbits-section4__big-title-wrap.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 82.71px 0px 0px; }

.tidbits-section4__group1 {
  display: flex; }

.tidbits-section4__group1.layout {
  position: absolute;
  overflow: visible;
  flex-grow: 1;
  inset: 0px; }

.tidbits-section4__img {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25098));
  border: 5px solid black;
  border-radius: 27px 27px 27px 27px; }

.tidbits-section4__img.layout {
  position: relative;
  height: 540px;
  width: 1019.02px;
  min-width: 1019.02px; }

.tidbits-section4__decorator {
  background: var(--src) center center/contain no-repeat; }

.tidbits-section4__decorator.layout {
  position: absolute;
  height: 81px;
  width: 114px;
  min-width: 114px;
  margin: 251px 0px 208px;
  inset: 0px auto auto 180px; }

.tidbits-section4__big-title1 {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0.75px; }

.tidbits-section4__big-title1.layout {
  position: relative;
  flex-grow: 1;
  margin: 25px 37px 480px; }

.tidbits-section5__container {
  display: flex; }

.tidbits-section5__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.tidbits-section5__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }

.tidbits-section5__hero-title.layout {
  position: relative;
  display: block;
  width: 694px;
  min-width: 694px;
  margin: 36px auto 0px; }

.tidbits-section6__container {
  display: flex; }

.tidbits-section6__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.tidbits-section6__flex {
  display: flex; }

.tidbits-section6__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 369px; }

.tidbits-section6__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }

.tidbits-section6__hero-title.layout {
  position: relative;
  margin: 143.72px 0px 0px; }

.tidbits-section6__flex-spacer {
  flex: 0 1 19px; }

.tidbits-section6__flex-col {
  display: flex;
  flex: 0 1 237px; }

.tidbits-section6__group {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098));
  font: 700 42px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.05px;
  justify-content: flex-end;
  padding: 5px 32px 5px 32px; }

.tidbits-section6__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 170.72px 0px 27px; }

.tidbits-section6__big-title {
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px; }

.tidbits-section6__big-title.layout {
  position: relative;
  margin: 182.72px 0px 39px; }

.tidbits-section7__container {
  display: flex; }

.tidbits-section7__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.tidbits-section7__flex {
  display: flex; }

.tidbits-section7__flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 254px; }

.tidbits-section7__flex-col {
  display: flex;
  flex: 0 1 443px; }

.tidbits-section7__image {
  background: var(--src) center center/contain no-repeat; }

.tidbits-section7__image.layout {
  position: relative;
  height: 443px;
  flex-grow: 1;
  margin: 16.29px 0px 0px; }

.tidbits-section7__flex-spacer {
  flex: 0 1 78px; }

.tidbits-section7__flex-col1 {
  display: flex;
  flex: 1 1 891px; }

.tidbits-section7__flex1 {
  display: flex;
  flex-direction: column; }

.tidbits-section7__flex1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 29.29px 0px 45.29px; }

.tidbits-section7__big-title-box.layout {
  position: relative; }

.tidbits-section7__big-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px;
  white-space: pre-wrap; }

.tidbits-section7__flex.layout {
  position: relative;
  overflow: visible;
  margin: 44.71px 0px 0px; }

.tidbits-section7__flex2-col {
  display: flex;
  flex: 0 1 200px; }

.tidbits-section7__image1 {
  background: var(--src) center center/contain no-repeat;
  border-radius: 35px 35px 35px 35px; }

.tidbits-section7__image1.layout {
  position: relative;
  height: 200px;
  flex-grow: 1; }

.tidbits-section7__flex2-spacer {
  flex: 0 1 78px; }

.tidbits-section7__image2 {
  background: var(--src) center center/contain no-repeat;
  border-radius: 35px 35px 35px 35px; }

.tidbits-section7__image2.layout {
  position: relative;
  height: 200px;
  flex-grow: 1; }

.tidbits-section7__image3 {
  background: var(--src) center center/contain no-repeat;
  border-radius: 35px 35px 35px 35px; }

.tidbits-section7__image3.layout {
  position: relative;
  height: 200px;
  flex-grow: 1; }

.tidbits-section8__container {
  display: flex; }

.tidbits-section8__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.tidbits-section8__decorator {
  background: var(--src) center center/contain no-repeat;
  border-radius: 35px 35px 35px 35px; }

.tidbits-section8__decorator.layout {
  position: absolute;
  display: block;
  height: 200px;
  width: 200px;
  min-width: 200px;
  margin: 469.57px auto 226.41px;
  inset: 0px 0px auto; }

.tidbits-section8__decorator.layout1 {
  position: absolute;
  height: 200px;
  width: 200px;
  min-width: 200px;
  margin: 469.57px 0px 226.41px;
  inset: 0px auto auto 559.82px; }

.tidbits-section8__decorator.layout2 {
  position: absolute;
  height: 200px;
  width: 200px;
  min-width: 200px;
  margin: 469.57px 0px 226.41px;
  inset: 0px auto auto 281.82px; }

.tidbits-section8__big-title-box.layout {
  position: absolute;
  width: 891px;
  min-width: 891px;
  inset: 284.86px auto 471.12px 281.82px; }

.tidbits-section8__big-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px;
  white-space: pre-wrap; }

.tidbits-section8__group {
  display: flex; }

.tidbits-section8__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 89.5px 288.93px 113.48px 337.57px; }

.tidbits-section8__img {
  background: var(--src) center center/contain no-repeat; }

.tidbits-section8__img.layout {
  position: relative;
  height: 693px;
  width: 1293.5px;
  min-width: 1293.5px; }

.tidbits-section8__hero-title {
  font: 700 96px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.4px; }

.tidbits-section8__hero-title.layout {
  position: absolute;
  flex-grow: 1;
  inset: 43.07px 199.25px 536.93px; }

.tidbits-section8__group1 {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098));
  font: 700 42px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.05px;
  justify-content: flex-end;
  padding: 5px 32px 5px 32px; }

.tidbits-section8__group1.layout {
  position: absolute;
  overflow: visible;
  width: 237px;
  min-width: 237px;
  inset: 70.07px 446.25px 563.93px auto; }

.tidbits-section8__group2 {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  font: 700 30px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.75px;
  padding: 12px 47px 330px 47px; }

.tidbits-section8__group2.layout {
  position: absolute;
  overflow: visible;
  width: 443px;
  min-width: 443px;
  inset: 70.07px 31.25px 245.93px auto; }

.tidbits-section9__container {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25098);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.tidbits-section9__container.layout {
  position: relative;
  overflow: visible;
  flex: 0 0auto; }

.tidbits-section9__flex {
  display: flex; }

.tidbits-section9__flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 39.77px 181.9px; }

.tidbits-section9__flex-col {
  display: flex;
  flex: 1 1 471.75px; }

.tidbits-section9__medium-title-box.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 21.51px; }

.tidbits-section9__medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.6px;
  white-space: pre-wrap; }

.tidbits-section9__flex-spacer {
  flex: 0 1 579.7px; }

.tidbits-section9__flex-col1 {
  display: flex;
  flex: 0 1 504.74px; }

.tidbits-section9__group {
  display: flex; }

.tidbits-section9__group.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 28.6px 1px 69.51px 0px; }

.tidbits-section9__subtitle {
  font: 700 21px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.53px; }

.tidbits-section9__subtitle.layout {
  position: absolute;
  height: 21.98px;
  inset: auto 43.41px -21.93px 25.78px; }

.tidbits-section9__hero-title {
  font: 700 54px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.35px; }

.tidbits-section9__hero-title.layout {
  position: relative;
  flex-grow: 1; }
